page-view-test-result {
  .nav-close-text{
    font-weight: bold;
  }
  .close-cross{
    height: 15px;
    width: auto;
    margin-left: 5px;
  }
  .card-content-ios{
    padding: 0;
  }
  .grid{
    padding: 0;
  }
  .mes-data-row{
    padding: 22px 13px;
  }
}
