<ion-grid>
  <ion-row>
    <ion-col id="eyesight-failure-confirmation">
      <ion-row>
        <ion-col col-auto>
        </ion-col>
          <ion-icon name="alert" id="eyesight-failure-icon"></ion-icon>
        <ion-col>
          <ion-row>
            <h2 id="eyesight-failure-title">The candidate failed the eyesight test</h2>
          </ion-row>
          <ion-row>
            <p>Do you want to continue?</p>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <button>Continue to debrief</button>
        <button>Cancel</button>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
