eyesight-failure-confirmation {
  width: 100%;
  #eyesight-failure-confirmation {
    margin: 18px;
    padding: 40px 75px;
    background: map-get($colors-gds, 'gds-blue');
    color: map-get($colors, 'mes-white');
    #eyesight-failure-icon {
      height: 68px;
      margin-right: 32px;
    }
    #eyesight-failure-title {
      color: inherit;
    }
  }
}
