all-on-one-form-sub-element-hold-no-modal {
  ion-icon {
    font-size: 32px;
  }
  .fault-total {
    //line-height: 1.75;
    position: absolute;
    top: 7px;
    left: 12px;
  }
  ion-checkbox {
    padding-top: 5px;
  }
  .checkbox-ios-dark .checkbox-checked .checkbox-inner {
    display: none;
    left: 13px;
    top: 6px;
    width: 5px;
    height: 15px;
  }
  .fault-badge {
    position: absolute;
    top: 2px;
    font-size: 12px;

    background-color: map-get($colors, dark);
    padding: 6px;
    border-radius: 12px;
    color: map-get($colors, light);

    &.counter {
      left: 4px;
    }

    &.serious {
      left: -8px;
      background-color: lighten(map-get($colors, warn), 15);
      color: map-get($colors, dark);
    }

    &.dangerous {
      left: -6px;
      background-color: lighten(map-get($colors, danger), 15);
      color: map-get($colors, dark);
    }
  }

  .fault-type-text {
    position: absolute;
    top: 7px;
    left: 12px;
    z-index: 1;
    font-weight: bold;
    pointer-events: none;
    &.focused {
      color: #fff;
    }
  }
  .shrink {
    transform: scale(0.55);
  }
  .name {
    padding-left: 20px;
  }
  .pad-more {
    margin-left: 5px;
  }
  .highlight {
    text-decoration: underline;
  }
}
