<ion-header>
  <practice-mode-banner *ngIf="isPracticeMode"></practice-mode-banner>
  <ion-navbar hideBackButton>
    <ion-title>Test debrief - {{pageState.candidateUntitledName$ | async}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-grid>

        <finalisation-header [candidateName]="pageState.candidateName$ | async"
          [candidateDriverNumber]="pageState.candidateDriverNumber$ | async"
          [outcomeText]="pageState.testOutcomeText$ | async"></finalisation-header>

        <ion-row class="mes-component-row mes-row-separator" id="application-reference-card" align-items-center>
          <ion-col class="component-label" col-32>
            <label>Application reference</label>
          </ion-col>
          <ion-col padding-left>
            <span class="mes-data">{{pageState.applicationNumber$ | async }}</span>
          </ion-col>
        </ion-row>

        <ion-row class="mes-validated-row mes-row-separator" id="provisional-license-card">
          <div class="validation-bar" [class.ng-invalid]="isCtrlDirtyAndInvalid('provisionalLicenseProvidedCtrl')">
          </div>
          <ion-col class="component-label" col-32 align-self-center>
            <label>Provisional licence received</label>
          </ion-col>
          <ion-col align-self-center padding-left>
            <ion-row class="spacing-row"></ion-row>
            <ion-row>
              <ion-col col-48>
                <input formControlName="provisionalLicenseProvidedCtrl" type="radio" id="license-received" value="yes"
                  [checked]="pageState.provisionalLicenseProvidedRadioChecked$ | async" class="gds-radio-button"
                  (click)="provisionalLicenseReceived()">
                <label for="license-received" class="radio-label">Yes</label>
              </ion-col>
              <ion-col>
                <input formControlName="provisionalLicenseProvidedCtrl" type="radio" id="license-not-received"
                  value="no" [checked]="pageState.provisionalLicenseNotProvidedRadioChecked$ | async"
                  class="gds-radio-button" (click)="provisionalLicenseNotReceived()">
                <label for="license-not-received" class="radio-label">No</label>
              </ion-col>
            </ion-row>
            <ion-row class="validation-message-row" align-items-center>
              <div class="validation-text" [class.ng-invalid]="isCtrlDirtyAndInvalid('provisionalLicenseProvidedCtrl')"
                id="pass-finalisation-licence-received-validation-text">
                Select a response
              </div>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row class="mes-validated-row mes-row-separator" id="transmission-card">
          <div class="validation-bar" [class.ng-invalid]="isCtrlDirtyAndInvalid('transmissionCtrl')">
          </div>
          <ion-col class="component-label" col-32 align-self-center>
            <label>Transmission</label>
          </ion-col>
          <ion-col align-self-center padding-left>
            <ion-row class="spacing-row"></ion-row>
            <ion-row>
              <ion-col col-48>
                <input type="radio" id="transmission-manual" formControlName="transmissionCtrl" name="transmissionCtrl"
                  class="gds-radio-button" [class.ng-invalid]="isCtrlDirtyAndInvalid('transmissionCtrl')"
                  (click)="transmissionChanged($event.target.value)" value='Manual'
                  [checked]="pageState.transmissionManualRadioChecked$ | async">
                <label for="transmission-manual" class="radio-label">Manual</label>
              </ion-col>
              <ion-col>
                <input type="radio" id="transmission-automatic" formControlName="transmissionCtrl"
                  name="transmissionCtrl" class="gds-radio-button"
                  [class.ng-invalid]="isCtrlDirtyAndInvalid('transmissionCtrl')"
                  (click)="transmissionChanged($event.target.value)" value='Automatic'
                  [checked]="pageState.transmissionAutomaticRadioChecked$ | async">
                <label for="transmission-automatic" class="radio-label">Automatic</label>
              </ion-col>
            </ion-row>
            <ion-row class="validation-message-row" align-items-center>
              <div class="validation-text" [class.ng-invalid]="isCtrlDirtyAndInvalid('transmissionCtrl')"
                id="transmission-validation-text">
                Select the transmission of the vehicle
              </div>
            </ion-row>
          </ion-col>
        </ion-row>
        <warning-banner *ngIf="pageState.transmissionAutomaticRadioChecked$ | async" warningText="An automatic licence will be issued."></warning-banner>

        <ion-row class="mes-validated-row mes-row-separator" id="provisional-license-card">
          <div class="validation-bar" [class.ng-invalid]="isCtrlDirtyAndInvalid('passCertificateNumberCtrl') ||
          passCertificateValidation()"></div>
          <ion-col class="component-label" col-32 align-self-center>
            <label>Pass certificate number</label>
          </ion-col>
          <ion-col align-self-center padding-left>
            <ion-row class="spacing-row"></ion-row>
            <ion-row>
              <ion-col>
                <input #passCertificateNumberInput formControlName="passCertificateNumberCtrl" [class.ng-invalid]="isCtrlDirtyAndInvalid('passCertificateNumberCtrl') ||
                  passCertificateValidation()" type="text" value="{{pageState.passCertificateNumber$ | async}}"
                  id="pass-certificate-number" class="pass-cert-input" maxlength="8">
              </ion-col>
            </ion-row>
            <ion-row class="validation-message-row" align-items-center>
              <div class="validation-text" [class.ng-invalid]="isCtrlDirtyAndInvalid('passCertificateNumberCtrl') ||
                passCertificateValidation()" id="pass-finalisation-certificate-number-validation-text">
                Enter a valid certificate number (8 characters)
              </div>
            </ion-row>
          </ion-col>
        </ion-row>

        <d255 [display]=true [d255]="pageState.d255$ | async" [outcome]="testOutcome" [formGroup]="form"
          (d255Change)="d255Changed($event)"></d255>
        <warning-banner *ngIf="pageState.d255$ | async" warningText="You have selected yes to having a D255 form."></warning-banner>

        <language-preferences [formGroup]="form" [isWelsh]="(pageState.conductedLanguage$ | async) === 'Cymraeg'"
          (welshChanged)="isWelshChanged($event)"></language-preferences>

        <debrief-witnessed [display]=true [formGroup]="form" [debriefWitnessed]="pageState.debriefWitnessed$ | async"
          [outcome]="testOutcome" (debriefWitnessedChange)="debriefWitnessedChanged($event)">
        </debrief-witnessed>

      </ion-grid>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-row class="mes-full-width-card box-shadow">
    <button type="submit" class="mes-primary-button" ion-button (click)="onSubmit()">
      <h3>Continue</h3>
    </button>
  </ion-row>
</ion-footer>
