<ion-header>
  <practice-mode-banner *ngIf="isPracticeMode"></practice-mode-banner>
</ion-header>
<ion-content no-bounce id="back-to-office-page">
  <div class="container">
    <img id='dvsa-logo' src='../../assets/imgs/back-to-office/logo.png' />
  </div>
  <div *ngIf="!getRekey()">
    <div class="container">
      <button ion-button class="mes-neutral-button office-button top-button continue_writeup" navPush="OfficePage" id="continue-to-write-up">
        Continue to write up
      </button>
    </div>
    <div class="container">
      <button ion-button class="mes-neutral-button office-button bottom-button return-journal" (click)="goToJournal()">
        Return to journal
      </button>
    </div>
  </div>

  <div *ngIf="getRekey()">
    <div class="container">
      <button ion-button class="mes-neutral-button office-button top-button rekey-button" (click)="goToReasonForRekey()"
        id="continue-to-rekey-reason">
        Continue
      </button>
    </div>
  </div>
</ion-content>