<ion-row [ngClass]="shouldHaveSeperator ? 'mes-data-row-with-separator': 'mes-data-row'">
  <ion-col col-34>
    <label>{{ label }}</label>
    <label *ngIf="label2"><br>{{ label2 }}</label>
  </ion-col>
  <ion-col col-6>
    <img
      alt="Exclamation Indicator"
      src="assets/imgs/journal/exclamation-indicator.png"
      class="exclamation-indicator"
      *ngIf="shouldShowIndicator"
    />
  </ion-col>
  <ion-col col-56>
    <span class="mes-data">{{ value }}</span>
  </ion-col>
</ion-row>
