driving-fault-summary {
  #summary-count-badge {
    display: inline-block;
    width: 44px;
    height: 44px;
    min-width: 44px;
    
    padding-top: 9px;
    border-radius: 30px;
    
    background-color: #0B0C0C;
    color: map-get($colors, 'mes-white');
    text-align: center;

    #summary-count {
      font-size: 21px;
      font-weight: 600;
      line-height: 20px;
    }
  }
}