competency-button {
  div.competency-button {
    @extend .mes-test-report-button;
    @extend .mes-test-report-button-ripple-effect;

    padding-left: 5px;
    padding-right: 5px;
  }
    
  div.competency-button {
    .remove-mode & {
      background-color: darken(white, 60%);
      opacity: 0.2;
    }
  }
  &.fault div.competency-button {
    .remove-mode.fault-mode & {
      background-color: white;
      opacity: 1;
    }
  }
  &.serious-fault div.competency-button {
    .remove-mode.serious-mode & {
      background-color: white;
      opacity: 1;
    }
  }
  &.dangerous-fault div.competency-button {
    .remove-mode.dangerous-mode & {
      background-color: white;
      opacity: 1;
    }
  }

}
