page-login {
  .login-grid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & div{
      max-width: 60%;
      text-align: center;
    }
  }
  .link {
    text-decoration: underline;
    color: map-get($colors-gds, 'gds-blue');
  }
}
