test-outcome {
  .button-ios {
    margin: 0;
  }
  .write-up-label {
    color: inherit;
  }
  .mes-rekey-button {
    background: map-get($colors-gds, gds-blue);
    color: map-get($colors-gds, mes-white);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
  }
  .mes-delegated-button {
    background: map-get($colors-gds, gds-blue);
    color: map-get($colors-gds, mes-white);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
  }
}
