debrief-cpc-card {
  .cpc-line-break {
    border-bottom: 1px solid;
    border-bottom-color: map_get($colors-gds, gds-grey-3);
    margin-top: 2em;
    padding-bottom: 2em;
  }
  .cpc-total-padding {
    margin-top: 2em;
    margin-bottom: 1em;
  }
}
