search-result {
  .card-ios {
    margin: 12px 0 8px;
    width: 100%;
    border-left: 8px solid #9b9b9b;
  }
  .grid {
    margin-left: 40px;
    padding: 13px 0;
  }
  .top-row {
    letter-spacing: -0.48px;
  }
  .bottom-row {
    letter-spacing: -0.48px;
  }
}
