test-category-icon {
  .icon {
    justify-self: center;
    align-self: center;
    max-height: 20px;
    width: auto;
    opacity: 0.5;
  }
  .transmission {
    font-size: 15px;
    font-weight: bold;
  }
}
