reverse-left-popover {
  background-color: map-get($colors, "mes-light-grey");
  height: 220px;
  width: calc(100% - 12px);
  left: 6px;
  margin-top: 9px;
  position: fixed;
  z-index: 270;

  .popover-content {
    width: calc(100% - 12px);
    border: 0 none map-get($colors, "mes-white");
  }
  
  .manoeuvre-competencies-container {
    margin: 40px auto;

    .first-manoeuvre-competency-button {
      margin-bottom: 24px;
    }
  }
}
