reverse-left-popover {

  .popover-content {
    width: calc(100% - 12px);
    border: 0 none map-get($colors, "mes-white");
    position: relative;
  }
  
  .manoeuvre-competencies-container {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    
    .first-manoeuvre-competency-button {
      margin-bottom: 10px;
    }
  }
}
