page-pass-finalisation {
  ion-content > div {
    background-color: map-get($colors, "mes-white");
    .mes-full-width-card {
      border-bottom: 2px solid map-get($colors-gds, 'gds-grey-5');
    }
    ion-footer button {
      width: 100%;
      height: 56px;
    }
  }
}
