div[class^="pass-finalisation-cat-"] {
  ion-content > div {
    background-color: map-get($colors, "mes-white");
  }
  ion-footer {
    background-color: map-get($colors, "mes-white");
    button {
      width: 100%;
      min-height: 56px;
    }
  }
}
