competency {
  .mes-test-report-button {
    width: 254px;
    padding-left: 5px;
    padding-right: 5px;

    justify-content: space-between;
    align-items: center;

    & ion-row {
      width: 100%
    }

    .competency-label {
      margin-left: 20px;
    }

    .fault-wrapper {
      display: flex;
    }

    .serious-fault-badge {
      display: inline-block;
      margin-right: 3px;
    }
  }
}
