competency {
  button {
    width: 254px;
    height: 44px;
    background: map-get($colors, 'mes-white');
    border: 1px solid rgba(11, 12, 12, 0.4);
    box-shadow: 0 1px 0 0 map-get($colors-gds, 'gds-grey-1');
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    letter-spacing: -0.26px;
    font-weight: 500; 
    &.activated {
      background: #eee;
    }
    &.driving_fault {
      color: #0B0C0C;
    }
    // Ripple animation effect
    &.ripple_effect {
      animation: ripple 0.3s forwards;
    }
    @-webkit-keyframes ripple {
      0% {
        -webkit-box-shadow: 0 0 5px 0 rgba(65, 60, 60, 1);
      }
      50% {
        -webkit-box-shadow: 0 0 5px 3.5px rgba(65, 60, 60, 0.5);
      }
      100% {
        -webkit-box-shadow: 0 0 5px 7px rgba(65, 60, 60, 0);
      }
    }
    @keyframes ripple {
      0% {
        -moz-box-shadow: 0 0 0 0 0 0 5px 0 rgba(65, 60, 60, 1);
        box-shadow: 0 0 0 0 0 0 5px 0 rgba(65, 60, 60, 1);
      }
      50% {
        -moz-box-shadow: 0 0 5px 3.5px rgba(65, 60, 60, 0.5);
        box-shadow: 0 0 5px 3.5px rgba(65, 60, 60, 0.5);
      }
      100% {
        -moz-box-shadow: 0 0 5px 7px rgba(65, 60, 60, 0);
        box-shadow: 0 0 5px 7px rgba(65, 60, 60, 0);
      }
    }
  }
}
