<ion-row class="mes-validated-row" id="health-declaration-card" [formGroup]="formGroup">
  <ion-col class="component-label" col-32 align-self-center>
    <label>Health declaration</label>
  </ion-col>
  <ion-col align-self-center padding-left>
    <ion-row class="spacing-row"></ion-row>
    <ion-row>
      <ion-col col-48>
        <input type="radio"
               formControlName="healthDeclaration"
               id="health-declaration-signed"
               name="healthDeclaration"
               class="gds-radio-button"
               value="Signed"
               [checked]="healthDeclarationSigned === true" (change)="healthDeclarationChanged($event.target.value)">
        <label for="health-declaration-signed" class="radio-label">Signed</label>
      </ion-col>
      <ion-col>
        <input type="radio"
               formControlName="healthDeclaration"
               id="health-declaration-not-signed"
               name="healthDeclaration"
               class="gds-radio-button"
               value="Not Signed"
               [checked]="healthDeclarationSigned === false" (change)="healthDeclarationChanged($event.target.value)">
        <label for="health-declaration-not-signed" class="radio-label">Not Signed</label>
      </ion-col>
    </ion-row>
    <ion-row class="validation-message-row" align-items-center>
      <div class="validation-text" id="office-health-declaration-validation-text">
        Was the debrief witnessed?
      </div>
    </ion-row>
  </ion-col>
</ion-row>
