<ion-card class="practice-mode-card" (click)="navigateToFakeJournal()">
  <ion-grid>
    <ion-row>
      <ion-col col-40 align-self-center="align-self-center">
        <img src="assets/imgs/dashboard/practice-mode-full.png" alt="Practice marking a full test report" class="icon-practice-test-full"/>
      </ion-col>
      <ion-col>
        <button class="mes-neutral-button" ion-button>
          <h3>Practice marking a full test (cat B)</h3>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>