practice-end-to-end-card {
  .practice-mode-card {
    background-color: map-get($colors, secondary-button);
    padding: 10px;

    h4 {
        margin-left: 43px;
        line-height: 42px;
    }

    #checkmark-circle {
       font-size: 36px;
       margin-top: 4px;
    }
  }
}
