practice-end-to-end-card {
  .practice-mode-card {
    background-color: #ffbf47;
    padding: 10px;
    border: 10px solid white;
  }

  button {
    width: 420px;
  }
}

ion-card img.icon-practice-test {
  margin-left: 10px;
  width: 233px;
  height: 48px;
}
