# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
.env
*.DS_Store
.editorconfig

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/
typings/cordova-*
test-reports/
src/environment/environment.ts
src/environment/test-schema-version.ts
src/assets/mock/*
fastlane/report.xml
test/e2e/test.config.ts
mock/local-journal.json
mock/local-journal-non-test-activities.json
remotedev-server/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
