div[class^="waiting-room-cat-"] {

  ion-content > div {
    background-color: map-get($colors, "mes-white");

    #candidate-section {
      display: flex;
      justify-content: space-between;
      align-items: center;

      #continue-button {
        min-height: 56px;
        min-width: 132px;
      }
    }

    .signature-area-padding {
      height: 18px;
    }
  }
}
