page-waiting-room {
  ion-content > div {
    background-color: map-get($colors, 'mes-white');

    #candidate-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .declaration-checkbox-row {
      margin: 22px 0;
    }
  }
}
