<div>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col col-auto>
        <span class="category">{{ category }}</span>
      </ion-col>
      <ion-col>
        <img class="icon" src={{getCategoryIcon()}} />
      </ion-col>
      <ion-col *ngIf="showAdditionalInformation()">
        <span class="transmission">{{ transmission }}</span>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showAdditionalInformation()" class="additional-test-information">
      <ion-col>
        <span>L: </span><span class="bold">{{ length }}</span>
      </ion-col>
      <ion-col>
        <span>W: </span><span class="bold">{{ width }}</span>
      </ion-col>
      <ion-col>
        <span>H: </span><span class="bold">{{ height }}</span>
      </ion-col>
      <ion-col>
        <span>Seats: </span><span class="bold">{{ seats }}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
