page-health-declaration {
  ion-icon {
    vertical-align: middle;
    display: inline;
  }
  .candidate-name {
    font-size: 44px;
    font-weight: bold;
    padding-bottom: 1em;
  }
  .candidate-numbers {
    font-size: 24px;
    padding-bottom: 1em;
  }
  .decleration {
    margin-top: 76px;
  }
  ion-card-header {
    margin-bottom: 0em !important;
  }
  ion-card-content {
    padding-bottom: 3em !important;
  }
}
