page-pretest-checks {
  ion-row {
    height: 50px;
    align-items: center;
  }
  input[type='text'],
  input[type='number'] {
    padding: 0.5em;
    border: 2px solid map-get($colors, dark);
    width: 100%;
  }
  .mes-checkbox {
    margin: 0 0 0 20px;
    height: 18px;
    width: 18px;
  }
  .input-with-label {
    margin-right: 2em;
  }
  .pretest-checks-clear-button-column {
    display: flex;
    justify-content: flex-end;
    button {
      @extend .mes-text-md;
      background: none;
      color: map-get($colors, secondaryButton);
    }
  }
  .validation-icon {
    padding-left: 8px;
    color: map-get($colors, gds-red);
    font-size: 24px;
  }
  .warning-text {
    padding-left: 5px;
    color: map-get($colors, gds-red);
    position: absolute;
  }
  .btns-disabled {
    opacity: 0.1;
  }
  .fault-btn {
    border-radius: 7px;
    display: inline-block;
    font-size: 1.5em;
    border: 1px solid #ddd;
    padding: 8px 20px;
    margin-left: 10px;
    &-icon {
      padding: 4px 20px;
      position: relative;
      top: 4px;
    }
    ion-icon {
      font-weight: bold;
      font-size: 1.64em;
    }
    &.complete-btn.active {
      background: map-get($colors, expanderBg);
    }
    &.driverFault-btn.active {
      color: map-get($map: $colors, $key: white);
      background: map-get($map: $colors, $key: black);
    }
    &.serious-btn.active {
      background: lighten(map-get($colors, gds-orange), 5);
    }
    &.dangerous-btn.active {
      background: lighten(map-get($colors, gds-red), 5);
    }
  }
  .tell-me-result {
    padding: 0.5em;
    border: 2px solid #222;
    border-radius: 5px;
  }
  // Make the width of the select contain the whole text
  .select-text {
    text-overflow: unset;
  }
}
