<ion-header>
    <mes-header [title]="getTitle()" [helpPage]="helpPage"></mes-header>
</ion-header>

<ion-content padding class="mes-main-content">
    <form
            #form="ngForm"
            (ngSubmit)="gotoDL25(form)"
            novalidate
            (keydown.enter)="$event.preventDefault()"
    >
        <ion-card class="mes-card">
            <ion-card-content>
                <div class="mes-header-lg">Begin test</div>
                <ion-row justify-space-between>
                    <ion-col col-4 class="mes-header-md">
                        Eyesight test
                        <ion-icon
                                name="alert"
                                *ngIf="showEyesightValidation"
                                class="validation-icon"
                        ></ion-icon>
                    </ion-col>
                    <ion-col class="mes-text-md" col-3>
                        <div class="gds-radio-button">
                            <input
                                    #isEyesightCompleted="ngModel"
                                    id="isEyesightCompleted"
                                    name="isEyesightCompleted"
                                    type="radio"
                                    required
                                    value="{{EyesightResult.Pass}}"
                                    [(ngModel)]="eyesightResult"
                            >
                            <label for="isEyesightCompleted" class="radio-label">Pass</label>
                        </div>
                    </ion-col>
                    <ion-col class="mes-text-md" col-2>
                        <div class="gds-radio-button">
                            <input
                                    id="eyeSightSeriousFault"
                                    type="radio"
                                    value="{{EyesightResult.Serious}}"
                                    [(ngModel)]="eyesightResult"
                                    [ngModelOptions]="{standalone: true}"
                                    (click)="openEyesightTestAlert()"
                            >
                            <label for="eyeSightSeriousFault" class="radio-label">S</label>
                        </div>
                    </ion-col>
                    <ion-col class="pretest-checks-clear-button-column">
                        <button type="button" (click)="clearEyesightResult()">Clear</button>
                    </ion-col>
                </ion-row>
                <p *ngIf="showEyesightValidation" class="warning-text">Eyesight is required</p>
                <div class="mes-divider"></div>
                <ion-row>
                    <ion-col col-4 class="mes-header-md">
                        Tell me question
                        <ion-icon
                                name="alert"
                                [hidden]="tellMeQuestion.valid || (tellMeQuestion.pristine && !form.submitted)"
                                class="validation-icon"
                        ></ion-icon>
                    </ion-col>
                    <ion-col col-4>
                        <select-button
                                required
                                #tellMeQuestion="ngModel"
                                [(ngModel)]="preCheck.tellMeQuestionId"
                                name="tellMeQuestionId"
                                [onClickEventHandler]="showTellMeOptions"
                                [selectedText]="preCheck.selectedQuestion"
                                [questionAsked]="preCheck.questionAsked"
                        ></select-button>
                    </ion-col>
                    <ion-col col-4 *ngIf="preCheck.questionAsked">
                        <ion-select
                                class="tell-me-result"
                                multiple="false"
                                interface="popover"
                                (ionChange)="updateTellMeState()"
                                [(ngModel)]="tellMeSelection"
                                name="tellMeSelection"
                        >
                            <ion-option value="nothing">Please select</ion-option>
                            <ion-option value="satisfactory">Satisfactory</ion-option>
                            <ion-option value="fault">D/F</ion-option>
                            <ion-option value="serious">S</ion-option>
                            <ion-option value="dangerous">D</ion-option>
                        </ion-select>
                        <ion-icon name="alert" *ngIf="showTellMeValidation"
                                  class="validation-icon  validation-icon-tellme-result"></ion-icon>
                    </ion-col>
                </ion-row>
                <p
                        [hidden]="tellMeQuestion.valid || (tellMeQuestion.pristine && !form.submitted)"
                        class="warning-text"
                >
                    Select Tell me question
                </p>
                <p *ngIf="showTellMeValidation && preCheck.questionAsked" class="warning-text warning-text-result">
                    Select a response
                </p>
                <div class="mes-divider"></div>
                <ion-row class="height-auto">
                    <ion-col col-4 class="mes-header-md"> Accompanied by (optional)</ion-col>
                    <ion-col>
                        <input id="adi-accompaniment-input" type="checkbox" class="mes-radio-button"/>
                        <label for="adi-accompaniment-input">ADI</label>
                    </ion-col>
                    <ion-col>
                        <input id="sup-accompaniment-input" type="checkbox" class="mes-radio-button"/>
                        <label for="sup-accompaniment-input">Sup</label>
                    </ion-col>
                    <ion-col>
                        <input id="other-accompaniment-input" type="checkbox" class="mes-radio-button"/>
                        <label for="other-accompaniment-input">Other</label>
                    </ion-col>
                </ion-row>
                <div class="mes-divider"></div>
                <ion-row>
                    <ion-col col-4 class="mes-header-md">
                        Registration number
                        <ion-icon
                                name="alert"
                                [hidden]="carRegistration.valid || (carRegistration.pristine && !form.submitted)"
                                class="validation-icon"
                        ></ion-icon>
                    </ion-col>
                    <ion-col col-4>
                        <input
                                appInputRestriction="noSpecialChars"
                                required
                                type="text"
                                class="capital-characters"
                                #carRegistration="ngModel"
                                name="carRegistration"
                                [(ngModel)]="preCheck.carRegistration"
                                autocapitalize="characters"
                        />
                    </ion-col>
                </ion-row>
                <p
                        [hidden]="carRegistration.valid || (carRegistration.pristine && !form.submitted)"
                        class="warning-text"
                >
                    Car registration number is required
                </p>
                <div class="mes-divider"></div>
                <ion-row class="height-auto">
                    <ion-col col-4 class="mes-header-md">
                        Category
                        <ion-icon name="alert" *ngIf="showGearboxValidation" class="validation-icon"></ion-icon>
                        <!--
                          <input type="checkbox" hidden required #isAutomatic="ngModel" name="isAutomatic"
                        -->
                        <!-- [(ngModel)]="preCheck.isAutomatic"> -->
                    </ion-col>
                    <ion-col class="mes-text-md" col-3>
                        <div class="gds-radio-button">
                            <input
                                    id="manual-category-input"
                                    class="mes-radio-button"
                                    name="gearbox-category"
                                    type="radio"
                                    value="{{GearboxCategory.Manual}}"
                                    required
                                    [(ngModel)]="gearboxCategory"
                            >
                            <label for="manual-category-input" class="radio-label">Manual</label>

                        </div>
                    </ion-col>
                    <ion-col class="mes-text-md" col-3>
                        <div class="gds-radio-button">
                            <input
                                    id="automatic-category-input"
                                    class="mes-radio-button"
                                    name="gearbox-category"
                                    type="radio"
                                    value="{{GearboxCategory.Automatic}}"
                                    required
                                    [(ngModel)]="gearboxCategory"
                            >
                            <label for="automatic-category-input" class="radio-label">Automatic</label>

                        </div>
                        <!--<span class="input-with-label">-->
                        <!--<input-->
                        <!--id="manual-category-input"-->
                        <!--class="mes-radio-button"-->
                        <!--name="gearbox-category"-->
                        <!--type="radio"-->
                        <!--value="{{GearboxCategory.Manual}}"-->
                        <!--required-->
                        <!--[(ngModel)]="gearboxCategory"-->
                        <!--/>-->
                        <!--<label for="manual-category-input">Manual</label>-->
                        <!--</span>-->
                        <!--<span class="input-with-label">-->
                        <!--<input-->
                        <!--id="automatic-category-input"-->
                        <!--class="mes-radio-button"-->
                        <!--name="gearbox-category"-->
                        <!--type="radio"-->
                        <!--value="{{GearboxCategory.Automatic}}"-->
                        <!--required-->
                        <!--[(ngModel)]="gearboxCategory"-->
                        <!--/>-->
                        <!--<label for="automatic-category-input">Automatic</label>-->
                        <!--</span>-->
                    </ion-col>
                    <ion-col class="pretest-checks-clear-button-column">
                        <button type="button" (click)="clearGearboxCategory()">Clear</button>
                    </ion-col>
                </ion-row>
                <p *ngIf="showGearboxValidation" class="warning-text">One option must be selected</p>
                <div class="mes-divider"></div>
                <ion-row class="center-text">
                    <ion-col col-4 class="mes-header-md"> Vehicle details (optional)</ion-col>
                    <ion-col col-3>
                        <input id="school-car-input" type="checkbox" class="mes-radio-button"/>
                        <label for="school-car-input">School car</label>
                    </ion-col>
                    <ion-col col-3>
                        <input id="dc-input" type="checkbox" class="mes-radio-button"/>
                        <label for="dc-input">D/C</label>
                    </ion-col>
                </ion-row>
                <div class="mes-divider"></div>
                <ion-row>
                    <ion-col col-4 class="mes-header-md"> Instructor registration number (optional)</ion-col>
                    <ion-col col-4>
                        <input appInputRestriction="integer" type="number" pattern="[0-9]*"/>
                    </ion-col>
                </ion-row>
                <div class="mes-divider"></div>
                <ion-row>
                    <ion-col col-4 class="mes-header-md">
                        Instructor certification number (optional)
                    </ion-col>
                    <ion-col col-4>
                        <input appInputRestriction="integer" type="number" pattern="[0-9]*"/>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <ion-row justify-content-between padding-left padding-right>
            <button class="mes-cta-button-secondary" type="button" (click)="backToJournal()">
                End driving test
            </button>
            <button class="mes-cta-button-primary" type="submit">Confirm and continue</button>
        </ion-row>
    </form>
</ion-content>
