lw-sos-button {
  .lw-sos-button-wrapper {
    .lw-sos-button-outer {
      margin-left: 96px;
      border: 1px solid red;
      border-radius: 10px;
      padding: 5px;
      background-color: transparent;

      span {
        color: white;
        background-color: red;
        border-radius: 25px;
        padding: 5px 5px;
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
      }
    }

    .lw-status-label {
      border-radius: 5px;
      font-size: 25px;
      padding: 8px 8px;
      color: black;
      margin-left: 10px;
      &.amber {
        background-color: rgb(246, 192, 94);
      }
      &.red {
        background-color: rgb(206, 65, 61);
      }
    }
  }
}
