<ion-row class="mes-validated-row mes-row-separator" id="activity-code-card" [formGroup]="formGroup" nowrap>
  <ion-row class="spacing-row"></ion-row>
  <ion-row>
    <ion-select id="activity-code-selector" placeholder="Select a question" okText="Submit" cancelText="Cancel"
      formControlName="vehicleChecksQuestion" (ionChange)="vehicleChecksQuestionChanged($event)" [selectOptions]="{cssClass:'mes-select vehicle-checks-question-select', enableBackdropDismiss:false}">
      <ion-option [value]="vehicleChecksQuestion" *ngFor="let vehicleCheckQuestion of vehicleChecksQuestionOptions">
        {{vehicleCheckQuestion.code}} - {{vehicleCheckQuestion.shortName}}
      </ion-option>
    </ion-select>
  </ion-row>
</ion-row>
