div[class^="waiting-room-to-car-cat-"] {
  ion-content.content-ios {
    background-color: map-get($colors, "mes-white");
  }
  ion-content > div {
    background-color: map-get($colors, "mes-white");
    .manual-label-top-spacing {
      label {
        display: block;
        margin-top: 42px;
      }
    }
  }
  ion-footer {
    background-color: map-get($colors, "mes-white");
    button {
      width: 100%;
      min-height: 56px;
    }
  }
  .mes-component-row::before {
    width: 0px;
  }
}
