page-waiting-room-to-car {
  ion-content.content-ios {
    background-color: map-get($colors, "mes-white");
  }
  ion-content > div {
    background-color: map-get($colors, "mes-white");
    .mes-full-width-card {
      height: 120px;
      #continue-to-test-report {
        width: 100%;
        height: 56px;
      }
    }
    .manual-label-top-spacing {
      label {
        display: block;
        margin-top: 42px;
      }
    }
  }
  ion-footer {
    background-color: map-get($colors, "mes-white");
    button {
      width: 100%;
      height: 56px;
    }
  }
  .mes-component-row::before {
    width: 0px;
  }
}
