<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>{{pageState.candidateName$ | async}}</ion-title>
    <ion-buttons end>
      <button ion-button navPush="DebriefPage">End test</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-grid>

        <ion-row class="mes-validated-row mes-row-separator" id="eyesight-test-card">
          <div class="validation-bar" [class.ng-invalid]="isCtrlDirtyAndInvalid('eyesightCtrl')"></div>
          <ion-col class="component-label" col-32 align-self-center>
            <label>Eyesight test</label>
          </ion-col>
          <ion-col align-self-center>
            <ion-row class="spacing-row"></ion-row>
            <ion-row>
              <ion-col col-32>
                <input type="radio" formControlName="eyesightCtrl" name="eyesightCtrl" id="eyesight-pass"
                  class="gds-radio-button" [class.ng-invalid]="isCtrlDirtyAndInvalid('eyesightCtrl')"
                  (click)="eyesightPassPressed()" [checked]="pageState.eyesightPassRadioChecked$ | async" value="P">
                <label for="eyesight-pass" class="radio-label">Pass</label>
              </ion-col>
              <ion-col col-32>
                <input type="radio" formControlName="eyesightCtrl" name="eyesightCtrl" id="eyesight-fail"
                  class="gds-radio-button" [class.ng-invalid]="isCtrlDirtyAndInvalid('eyesightCtrl')"
                  (click)="eyesightFailPressed()" [checked]="pageState.eyesightFailRadioChecked$ | async" value="F">
                <label for="eyesight-fail" class="radio-label">Fail</label>
              </ion-col>
            </ion-row>
            <ion-row class="validation-message-row" align-items-center>
              <div class="validation-text" [class.ng-invalid]="isCtrlDirtyAndInvalid('eyesightCtrl')">
                Select the eyesight test outcome
              </div>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="pageState.eyesightFailRadioChecked$ | async">
          <eyesight-failure-confirmation [cancelFn]="eyesightFailCancelled"></eyesight-failure-confirmation>
        </ion-row>

        <ion-row no-padding [hidden]="pageState.eyesightFailRadioChecked$ | async" id="post-eyesight-form-content">
          <ion-col no-padding>
            <ion-row class="mes-validated-row mes-row-separator" id="tell-me-card" justify-content-start>
              <div class="validation-bar"
                [class.ng-invalid]="isCtrlDirtyAndInvalid('tellMeQuestionCtrl') || isCtrlDirtyAndInvalid('tellMeQuestionOutcomeCtrl')">
              </div>
              <ion-col class="component-label" align-self-center col-32>
                <label>Tell me question</label>
              </ion-col>
              <ion-col align-self-center>
                <ion-row class="spacing-row"></ion-row>
                <ion-row>
                  <ion-col col-58>
                    <ion-select id="tell-me-selector" value="tell-me-question" okText="Submit" cancelText="Cancel"
                      placeholder="Select a question" (ionChange)="tellMeQuestionChanged($event)"
                      formControlName="tellMeQuestionCtrl">
                      <ion-option [value]="tellMeQuestion" *ngFor="let tellMeQuestion of tellMeQuestions">
                        {{tellMeQuestion.tellMeQuestionCode}} - {{tellMeQuestion.tellMeQuestionShortName}}
                      </ion-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
                <ion-row class="validation-message-row" align-items-center justify-content-start>
                  <div class="validation-text" [class.ng-invalid]="isCtrlDirtyAndInvalid('tellMeQuestionCtrl')">
                    Select a 'Tell me' question
                  </div>
                </ion-row>
                <ion-row align-items-center justify-content-start *ngIf="pageState.tellMeQuestionSelected$ | async">
                  <ion-col col-37>
                    <input type="radio" id="tell-me-correct" class="gds-radio-button" value="Correct"
                      formControlName="tellMeQuestionOutcomeCtrl"
                      [class.ng-invalid]="isCtrlDirtyAndInvalid('tellMeQuestionOutcomeCtrl')"
                      (click)="tellMeQuestionCorrect()" [checked]="pageState.tellMeQuestionCorrect$ | async">
                    <label for="tell-me-correct" class="radio-label">Correct</label>
                  </ion-col>
                  <ion-col>
                    <input type="radio" id="tell-me-fault" class="gds-radio-button" value="Fault"
                      formControlName="tellMeQuestionOutcomeCtrl"
                      [class.ng-invalid]="isCtrlDirtyAndInvalid('tellMeQuestionOutcomeCtrl')"
                      (click)="tellMeQuestionDrivingFault()" [checked]="pageState.tellMeQuestionDrivingFault$ | async">
                    <label for="tell-me-fault" class="radio-label">1 Driving fault</label>
                  </ion-col>
                </ion-row>
                <ion-row class="validation-message-row" align-items-center justify-content-start
                  *ngIf="pageState.tellMeQuestionSelected$ | async">
                  <div id="waiting-room-insurance-validation-text" class="validation-text"
                    [class.ng-invalid]="isCtrlDirtyAndInvalid('tellMeQuestionOutcomeCtrl')">
                    Select a 'Tell me' question outcome
                  </div>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row class="mes-validated-row mes-row-separator" id="registration-card">
              <div class="validation-bar" [class.ng-invalid]="isCtrlDirtyAndInvalid('registrationNumberCtrl')"></div>
              <ion-col class="component-label" col-32 align-self-center>
                <label>Vehicle registration number</label>
              </ion-col>
              <ion-col align-self-center>
                <ion-row class="spacing-row"></ion-row>
                <ion-row>
                  <ion-col col-32>
                    <input #registrationInput type="text" id="registration" formControlName="registrationNumberCtrl"
                      class="vehicle-reg-input" autocapitalize="characters" uppercaseAlphanumOnly
                      [class.ng-invalid]="isCtrlDirtyAndInvalid('registrationNumberCtrl')"
                      [value]="pageState.registrationNumber$ | async">
                  </ion-col>
                </ion-row>
                <ion-row class="validation-message-row" align-items-center>
                  <div class="validation-text" [class.ng-invalid]="isCtrlDirtyAndInvalid('registrationNumberCtrl')">
                    Enter the registration number
                  </div>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row class="mes-validated-row mes-row-separator" id="transmission-card">
              <div class="validation-bar" [class.ng-invalid]="isCtrlDirtyAndInvalid('transmissionRadioGroupCtrl')">
              </div>
              <ion-col class="component-label" col-32 align-self-center>
                <label>Transmission</label>
              </ion-col>
              <ion-col align-self-center>
                <ion-row class="spacing-row"></ion-row>
                <ion-row>
                  <ion-col col-32>
                    <input type="radio" formControlName="transmissionRadioGroupCtrl" name="transmissionRadioGroupCtrl"
                      id="transmission-manual" class="gds-radio-button"
                      [class.ng-invalid]="isCtrlDirtyAndInvalid('transmissionRadioGroupCtrl')"
                      (click)="manualTransmission()" [checked]="pageState.gearboxManualRadioChecked$ | async"
                      value='Manual'>
                    <label for="transmission-manual" class="radio-label">Manual</label>
                  </ion-col>
                  <ion-col col-32>
                    <input type="radio" formControlName="transmissionRadioGroupCtrl" name="transmissionRadioGroupCtrl"
                      id="transmission-automatic" class="gds-radio-button"
                      [class.ng-invalid]="isCtrlDirtyAndInvalid('transmissionRadioGroupCtrl')"
                      (click)="automaticTransmission()" [checked]="pageState.gearboxAutomaticRadioChecked$ | async"
                      value='Automatic'>
                    <label for="transmission-automatic" class="radio-label">Automatic</label>
                  </ion-col>
                </ion-row>
                <ion-row class="validation-message-row" align-items-center>
                  <div class="validation-text" [class.ng-invalid]="isCtrlDirtyAndInvalid('transmissionRadioGroupCtrl')">
                    Select the transmission of the vehicle
                  </div>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row class="mes-component-row mes-row-separator" id="instructor-registration-card">
              <ion-col class="component-label" col-32 align-self-center>
                <label>Instructor registration number (optional)</label>
              </ion-col>
              <ion-col align-self-center>
                <ion-row>
                  <ion-col col-32>
                    <input #instructorRegistrationInput type="number" id="instructor-registration" numbersOnly
                      [value]="pageState.instructorRegistrationNumber$ | async">
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row class="mes-component-row mes-row-separator" id="accompaniment-card">
              <ion-col class="component-label" col-32 align-self-center>
                <label>Accompanied by (optional)</label>
              </ion-col>
              <ion-col align-self-center>
                <ion-row>
                  <ion-col col-32>
                    <input type="checkbox" id="accompaniment-instructor" class="gds-checkbox"
                      [checked]="pageState.instructorAccompaniment$ | async" (click)="instructorAccompanimentToggled()">
                    <label for="accompaniment-instructor">Ins</label>
                  </ion-col>
                  <ion-col col-32>
                    <input type="checkbox" id="accompaniment-supervisor" class="gds-checkbox"
                      [checked]="pageState.supervisorAccompaniment$ | async" (click)="supervisorAccompanimentToggled()">
                    <label for="accompaniment-supervisor">Sup</label>
                  </ion-col>
                  <ion-col>
                    <input type="checkbox" id="accompaniment-other" class="gds-checkbox"
                      [checked]="pageState.otherAccompaniment$ | async" (click)="otherAccompanimentToggled()">
                    <label for="accompaniment-other">Other</label>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row class="mes-component-row mes-row-separator" id="vehicle-details-card">
              <ion-col class="component-label" col-32 align-self-center>
                <label>Vehicle details (optional)</label>
              </ion-col>
              <ion-col align-self-center>
                <ion-row>
                  <ion-col col-32>
                    <input type="checkbox" id="school-car" class="gds-checkbox" [checked]="pageState.schoolCar$ | async"
                      (click)="schoolCarToggled()">
                    <label for="school-car">School car</label>
                  </ion-col>
                  <ion-col>
                    <input type="checkbox" id="dual-control" class="gds-checkbox"
                      [checked]="pageState.dualControls$ | async" (click)="dualControlsToggled()">
                    <label for="dual-control">Dual control</label>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-grid>
      <ion-footer [hidden]="pageState.eyesightFailRadioChecked$ | async">
        <ion-row class="mes-full-width-card">
          <button type="submit" class="mes-primary-button" ion-button>
            <h3>Continue to test report</h3>
          </button>
        </ion-row>
      </ion-footer>
    </form>
  </div>
</ion-content>