<ion-content padding class="mes-main-content">
  <ion-card class="mes-card">
    <ion-card-header class="mes-main-card-header--border-bottom mes-breadcrumbs">
      <span class="mes-header-md mes-breadcrumb-link" navPop>
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </span>
      <span float-right>
          <span class="mes-text-sm">App Ref: 392 382 354 33</span>
        </span>
    </ion-card-header>
    <ion-card-content class="content-narrow">
      <ion-row align-items-center>
        <ion-col col-4 class="mes-header-md">
            <span>Route Number</span>
        </ion-col>
        <ion-col col-2>
            <input type="number" (click)="showRouteListAlert()" readonly="readonly" class="center-text" appInputRestriction="integer" [(ngModel)]="selectedRoute">
        </ion-col>
        <ion-col class="align-content-to-right">
            <button class="mes-button-primary" (click)="openTextBoxModal()">Route Deviations</button>
        </ion-col>
      </ion-row>      
      <div class="mes-divider"></div>
      <ion-row align-items-center>
        <ion-col col-auto>
            <span class="mes-header-md">Weather</span>
        </ion-col>
        <ion-col col-6>
            <span class="conditions-list">{{conditionsList}}</span>          
        </ion-col>
        <ion-col class="alight-to-right" col-auto>
            <button float-right class="mes-button-primary" (click)="openWeatherModal()">Select</button>
        </ion-col>
      </ion-row>
      <div class="mes-divider"></div>
      <ion-row align-items-center>
        <ion-col col-5 class="mes-header-md">
          Show me question
        </ion-col>
        <ion-col offset-3 col-4>
          <select-button [onClickEventHandler]="showShowMeQuestions" [selectedText]="showMeQuestion"></select-button>
        </ion-col>
      </ion-row>
      <div class="mes-divider mes-no-padding-b"></div>
      <ion-row class="height-auto">
        <ion-col col-12 class="mes-header-md">
          Independent driving
        </ion-col>
      </ion-row>
      <ion-row class="margin-top">
        <ion-col col-6 class="mes-header-md center-text">
          Sat nav
          <input #satNavInput type="checkbox" class="mes-checkbox" (change)="independentDrivingOptionChanged($event, trafficSignsInput);">
        </ion-col>
        <ion-col col-6 class="mes-header-md center-text">
          Traffic signs
          <input #trafficSignsInput type="checkbox" class="mes-checkbox" (change)="independentDrivingOptionChanged($event, satNavInput);">
        </ion-col>
      </ion-row>
      <div class="mes-divider"></div>
      <div class="mes-header-md">
        Physical description of candidate:
        <textarea rows="5"></textarea>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="mes-card">
      <ion-card-header class="mes-main-card-header--border-bottom">
        <span class="mes-header-md">Test Summary</span>
      </ion-card-header>
      <ion-card-content class="content-narrow">
        <post-test-summary-section [manualSummary]="safetyQuestionSummary"></post-test-summary-section>
        <post-test-summary-section [summary]="dangerousFaultSummary" *ngIf="dangerousFaultSummary.total > 0"></post-test-summary-section>
        <post-test-summary-section [summary]="seriousFaultSummary" *ngIf="seriousFaultSummary.total > 0"></post-test-summary-section>
        <post-test-summary-section [summary]="drivingFaultSummary" *ngIf="drivingFaultSummary.total > 0"></post-test-summary-section>
      </ion-card-content>
  </ion-card>
  <ion-card class="mes-bottom-card" text-center>
    <button (click)="backToJournal()" class="mes-button-primary">Submit</button>
  </ion-card>
</ion-content>
