page-post-test-summary {
  textarea {
    padding: 8px;
    margin: 8px 0;
    border: 2px solid map-get($colors, dark);
    width: 431px;
  }

  input[type='text'] {
    padding: 8px;
    height: 48px;
    width: 50px;
    border: 2px solid map-get($map: $colors, $key: dark);
    border-radius: 5px 5px 5px 5px;
  }

  .button {
    @extend .mes-cta-button;
    background-color: map-get($colors, gds-dark-green);
  }

  .validation-icon {
    padding-left: 8px;
    color: map-get($colors, gds-red);
    font-size: 24px;
  }

  .validation-text {
    font-size: 16px;
    color: map-get($colors, gds-red);
  }
}
