page-help-section {
  ion-label {
    margin: 0 !important;
  }

  .page-title {
    padding-top: 12px;
  }

  .header-container {
    padding-bottom: 38px;
  }

  #help-guide-content {
    padding: 16px;
  }

  .section-item::after {
    content: '';
    position: absolute;
    z-index: 2;
    width: 0;
    height: 100%;
    border-left: solid 3px;
    background: #fff;
    left: 0;
    margin-left: 39px;
    top: 47px;
  }

  .gray-section-item::after {
    @extend .section-item::after;

    border-color: #9b9b9b;
  }

  .black-section-item::after {
    @extend .section-item::after;

    border-color: black;
  }

  .show-icon,
  .hide-icon {
    font-size: 24px;
    font-weight: bold;
  }

  .section-number {
    font-size: 36px;
    font-weight: bold;
    border: 3px solid;
    border-radius: 50%;
    padding: 0px 11px;
  }

  .gray-section-number {
    @extend .section-number;

    border-color: #9b9b9b;
    color: #9b9b9b;
  }

  .black-section-number {
    @extend .section-number;

    border-color: black;
    color: black;
  }

  #show-all-container {
    width: 100%;
    text-align: right;
    padding-right: 36px;
    margin-bottom: 12px;
  }

  .hide-show-links {
    float: right;
  }

  .divider {
    @extend .mes-divider;

    margin-left: 80px;
    margin-top: 0;
    margin-bottom: 2px;
  }

  .section-header-text {
    @extend .mes-header-lg;

    margin-left: 28px;
    color: #007347;
  }

  .section-header {
    margin-bottom: 18px;
    padding-right: 24px;
  }

  .section-text {
    margin-left: 80px;
  }

  .section-details {
    padding-bottom: 24px;
    margin-left: 80px;
    p {
      color: #9b9b9b;
      font-size: 20px;
      padding-top: 8px;
    }
  }

  .video {
    width: 485px;
    height: 635px;
    background: map-get($colors, white);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    iframe {
      margin: 8px;
    }
    margin-bottom: 12px;
  }
}
