<!-- Generated template for the TotalsComponent component -->
<span>
  <button 
  *ngIf="options?.undo" 
  [disabled]="isRemoveDisabled" 
  class="remove-fault-button"
  [ngClass]="{ 'active': isRemoveButtonPressed }">
    <ion-icon (click)="enableRemovingFaults()" name="undo"></ion-icon>
  </button>
  <span class="report-header-text scorecard-item">D/F: {{numFaults}}</span>
  <span class="report-header-text scorecard-item">S: {{numSerious}}</span>
  <span class="report-header-text scorecard-item">D: {{numDangerous}}</span>
</span>
