totals {
  .icon {
    padding-left: 5px;
    padding-right: 5px;
  }
  .scorecard-item {
    margin-top: 5px;
    border: 1px solid map-get($colors, dark);
    padding: 4px 7px;
    height: 44px;
    margin-left: 2px;
    color: map-get($colors, dark);
    font-weight: bold;
    font-size: 19px;
  }

  button {
    background-color: #f8f8f8;
    line-height: 15px !important;
    font-size: 13px;
  }

  .remove-fault-button {
    font-size: 20px;
    color: map-get($colors, gds-blue);
    width: 58px;
    border-radius: 10px;
    box-shadow: 0 2px 0 0 map-get($colors, gds-grey-1);
    border: solid 3.5px map-get($colors, gds-blue);
    background-color: map-get($colors, white);
    &[disabled] {
      color: map-get($colors, gds-grey-1);
      border: 3.5px solid map-get($colors, gds-grey-1);
    }
  }
}
