journal-force-check-modal {
  @extend .modal-alert-wrapper;

  .modal-alert {
    width: 400px;
  }

  .modal-alert-message {
    margin-bottom: 25px;
  }

  .mes-return-button {
    @extend .mes-primary-button;
    margin-bottom: 36px;
    width: 70%;
    height: 56px;
    background: map-get($colors-gds, gds-grey-3);
    box-shadow: inset 0 -2px 0 0 map-get($colors-gds, gds-grey-1);
    font-size: 20px;
    &.activated {
      background: map-get($colors-gds, gds-grey-2);
    }
    h3 {
      color: map-get($colors-gds, gds-black);
    }
  }

  .mes-align-content-center {
    text-align: center;
  }

  .cancel-button {
    color: map-get($colors-gds, gds-black);
  }
}
