test-details-card {
  .cpc-line-break {
    border-bottom: 1px solid;
    border-bottom-color: #9b9b9b;
    margin-top: 2em;
    padding-bottom: 2em;
  }
  .cpc-total-padding {
    margin-top: 2em;
    margin-bottom: 1em;
  }
}
