
@mixin mes-text-bold($color, $size) {
  font-family: GDSTransportWebsite-Bold;
  font: {
    size: $size;
  }
  color: $color;
}

@mixin mes-text-normal($color, $size) {
  font-family: GDSTransportWebsite;
  font: {
    size: $size;
  }
  color: $color;
}

@mixin mes-text-spacing($spacing) {
  letter-spacing: $spacing;
}

// Generate text classes for bold weight
@each $colorItem, $color in $colors-gds-fonts {
  @each $sizeItem, $size in $sizes-font {
    .mes-text-bold-#{$colorItem}-#{$sizeItem} {
      @include mes-text-bold($color, $size);
    }
  }
}

// Generate text classes for normal weight
@each $colorItem, $color in $colors-gds-fonts {
  @each $sizeItem, $size in $sizes-font {
    .mes-text-normal-#{$colorItem}-#{$sizeItem} {
      @include mes-text-normal($color, $size);
    }
  }
}

$spacingConfig: 'widest' 0.36px, 'wide' 0.28px, 'compressed' -0.24px, 'highest' -0.38px;
@each $spacingSetting in $spacingConfig {
  .mes-text-spacing-#{nth($spacingSetting, 1)} {
    @include mes-text-spacing(#{nth($spacingSetting, 2)});
  }
}



