page-test-result {
  .recording-controls {
    padding: 10px;
    border-radius: 38.5px;
    background-color: #f0f0f0;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    float: left;

    > *:first-child {
      margin-right: 10px;
    }
  }

  .mes-bottom-card {
    padding: 0px 16px;
    .mes-button-primary {
      padding: 20px 35px;
      float: right;
    }
  }

  .card-header,
  #test-outcome-label {
    font-weight: bold;
    font-size: 24px;
  }

  #test-outcome {
    font-weight: bold;
    font-size: 48px;
  }

  .test-outcome-content {
    margin: 16px;
    border-width: 8px;
    border-style: solid;
  }

  .successful-test-outcome-content {
    border-color: map-get($map: $colors, $key: 'gds-turquoise');
    @extend .test-outcome-content;
  }

  .unsuccessful-test-outcome-content {
    border-color: map-get($map: $colors, $key: 'danger');
    @extend .test-outcome-content;
  }

  .test-result-header-card {
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-left: 16px solid #d8d8d8;
  }

  .test-result-footer {
    width: 100%;
  }

  .confirm-button {
    float: right;
    margin-right: 18px;
  }
}
