go-to-journal-card {
  .go-to-journal-card {

    h1, h4 {
      color: map-get($colors, mes-white);
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mes-primary-button {
      width: 340px;
      margin-top: 30px;

      h3 {
        color: map-get($colors, mes-white);
      }

    }

    #card-content-wrapper {
      display: flex;
      align-items: center;
      height: 240px;
      padding: 24px;
      background: map-get($colors, mes-white);
      width: 100%;
    }
  }
}

ion-card img.icon-journal {
  width: 112px;
  height: 92px
}