<ion-row class="mes-validated-row mes-row-separator" id="combination-card">
  <div class="validation-bar"></div>
  <ion-col class="component-label" col-32 align-self-center>
    <label>Combination</label>
  </ion-col>
  <ion-col align-self-center padding-left>
    <ion-row class="spacing-row"></ion-row>
    <ion-row>
      <ion-col align-self-center>
        <label id="combination-label">{{combination}} - {{combinationAdditionalTest}}</label>
      </ion-col>
    </ion-row>
    <ion-row class="validation-message-row" align-items-center>
      <div class="validation-text"></div>
    </ion-row>
  </ion-col>
</ion-row>
