all-on-one-form-sub-element-button {
  ion-icon {
    font-size: 32px;
  }
  .fault-total {
    position: absolute;
    top: 10px;
    left: 35px;
    font-size: 1.2em;
  }
  ion-checkbox {
    padding-top: 5px;
  }
  .checkbox-ios-dark .checkbox-checked .checkbox-inner {
    display: none;
    left: 13px;
    top: 6px;
    width: 5px;
    height: 15px;
  }
  .fault-badge {
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 35px;
    background-color: map-get($colors, dark);
    padding: 6px;
    border-radius: 12px;
    color: map-get($colors, light);
    &.serious {
      left: 190px;
      @extend .fault-badge_serious;
    }
    &.dangerous {
      left: 215px;
      @extend .fault-badge_serious;
    }
  }
  .fault-type-text {
    position: absolute;
    top: 7px;
    left: 12px;
    z-index: 1;
    font-weight: bold;
    pointer-events: none;
    &.focused {
      color: #fff;
    }
  }
  .shrink {
    transform: scale(0.55);
  }
  .name {
    padding-left: 20px;
  }
  .pad-more {
    margin-left: 5px;
  }
  .highlight {
    text-decoration: underline;
  }
  .active button {
    color: white;
    background-color: black;
  }
  button.all-on-one-form-fault-button .tick-icon {
    opacity: 0;
  }
}

.action-completed {
  button:before {
    top: 46%;
    left: 15px;
    transform: translateY(-50%);

    @extend .check-btn_completed;
  }
}
