<ion-row class="mes-validated-row mes-row-separator" id="code-78-card">
  <div class="validation-bar" [class.ng-invalid]="isInvalid()">
  </div>
  <ion-col class="component-label" col-32 align-self-center>
    <label>Code 78 received</label>
  </ion-col>
  <ion-col align-self-center padding-left>
    <ion-row class="spacing-row"></ion-row>
    <ion-row [formGroup]="form">
      <ion-col col-48>
        <input formControlName="code78Ctrl" type="radio" id="code-78-received" value="yes" class="gds-radio-button"
          [checked]="code78PresentRadioChecked" (click)="code78IsPresent()">
        <label for="code-78-received" class="radio-label">Yes</label>
      </ion-col>
      <ion-col>
        <input formControlName="code78Ctrl" type="radio" id="code-78-not-received" value="no" class="gds-radio-button"
          [checked]="code78NotPresentRadioChecked" (click)="code78IsNotPresent()">
        <label for="code-78-not-received" class="radio-label">No</label>
      </ion-col>
    </ion-row>
    <ion-row class="validation-message-row" align-items-center>
      <div class="validation-text" id="code-78-received-validation-text" [class.ng-invalid]="isInvalid()">
        Select a response
      </div>
    </ion-row>
  </ion-col>
</ion-row>