<ion-header>
  <ion-navbar>
    <ion-buttons ion-buttons start navPop>
      <button ion-button center class="nav-close" id="closeVehicleChecksModalCatBE">
        <ion-icon name="md-close"></ion-icon>Close
      </button>
    </ion-buttons>
    <ion-title>
      Vehicle checks - {{ pageState.candidateName$ | async }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Show me questions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <vehicle-checks-question [formGroup]="formGroup"
        [questionResult]="(pageState.showMeQuestions$ | async)[0]"
        [questions]="showMeQuestions"
        [questionsToDisable]="pageState.showMeQuestions$ | async"
        (vehicleChecksQuestionChange)="showMeQuestionChanged($event, 0)"
        (vehicleChecksQuestionOutcomeChange)="showMeQuestionOutcomeChanged($event, 0)">
      </vehicle-checks-question>
      <vehicle-checks-question [formGroup]="formGroup"
        [questionResult]="(pageState.showMeQuestions$ | async)[1]"
        [questions]="showMeQuestions"
        [questionsToDisable]="pageState.showMeQuestions$ | async"
        (vehicleChecksQuestionChange)="showMeQuestionChanged($event, 1)"
        (vehicleChecksQuestionOutcomeChange)="showMeQuestionOutcomeChanged($event, 1)">
      </vehicle-checks-question>
      <vehicle-checks-question [formGroup]="formGroup"
        [questionResult]="(pageState.showMeQuestions$ | async)[2]"
        [questions]="showMeQuestions"
        [questionsToDisable]="pageState.showMeQuestions$ | async"
        (vehicleChecksQuestionChange)="showMeQuestionChanged($event, 2)"
        (vehicleChecksQuestionOutcomeChange)="showMeQuestionOutcomeChanged($event, 2)">
      </vehicle-checks-question>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tell me questions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Some tell me stuff!!</p>
    </ion-card-content>
  </ion-card>
</ion-content>
