<ion-header>
  <ion-navbar>
    <ion-buttons ion-buttons start navPop>
      <button ion-button center class="nav-close" id="closeVehicleChecksModalCatBE">
        <ion-icon name="md-close"></ion-icon>Close
      </button>
    </ion-buttons>
    <ion-title>
      Vehicle checks - {{ pageState.candidateName$ | async }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Show me questions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <vehicle-checks-question *ngFor="let question of showMeQuestionsNumberArray; let i = index" [formGroup]="formGroup"
                               [questionResult]="(pageState.showMeQuestions$ | async)[i]"
                               [questions]="showMeQuestions"
                               [questionsToDisable]="pageState.showMeQuestions$ | async"
                               [index]="i"
                               (vehicleChecksQuestionChange)="showMeQuestionChanged($event, i)"
                               (vehicleChecksQuestionOutcomeChange)="showMeQuestionOutcomeChanged($event, i)">
      </vehicle-checks-question>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tell me questions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Some tell me stuff!!</p>
    </ion-card-content>
  </ion-card>
</ion-content>
