div[class^="communication-cat-"] {
  ion-content>div {
    background-color: map-get($colors, "mes-white");
  }

  .communication-option {
    padding: 10px 5px;
  }

  .communication-box {
    margin: 10px 0px 10px 44px;
    border-left: 4px solid;
    border-color: map-get($colors-gds, "gds-grey-2");
  }

  .communication-text-container {
    margin-bottom: 30px;
  }

  .communication-text {
    font-size: 23px;
    color: map-get($colors-gds, "gds-grey-1");
  }

  .provided-email-textbox {
    width: auto;
    border: 1px solid map-get($colors-gds, "gds-lavendar");
    height: 48px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: map-get($colors-gds, "gds-lavendar");
    font-weight: bold;
    pointer-events: none;
  }

  .new-email-textbox {
    width: 100%;
    border-radius: 6px;
    border: 2px solid map-get($colors-gds, "gds-black");
    height: 48px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: lowercase;
  }

  .communication-validation-bar {
    margin-right: 10px;
  }

  .comm-keyboard-space {
    margin-bottom: 200px;
  }

}
