<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="logout()" *ngIf="isLogoutEnabled()">
        <span>Sign Out</span>
        <h6 class="version-number">Version {{pageState.appVersion$ | async}}</h6>
      </button>
      <h6 *ngIf="!isLogoutEnabled()" class="version-number">Version {{pageState.appVersion$
        | async}}</h6>
      <input type="hidden" name="employeeId" id="employeeId" value="{{employeeId}}" />
    </ion-buttons>
    <ion-title>My dashboard</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-bounce>
  <incomplete-tests-banner [todaysDate]="todaysDate"></incomplete-tests-banner>
  <profile-header [employeeId]="employeeId" [name]="pageState.employeeName$ | async" [role]="role"></profile-header>
  <hr/>
  <h4 class="date">{{todaysDateFormatted}}</h4>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding col-96 col-lg-32>
        <go-to-journal-card *ngIf="!showDelegatedExaminerRekey()"></go-to-journal-card>
        <delegated-examiner-rekey *ngIf="showDelegatedExaminerRekey()"></delegated-examiner-rekey>
      </ion-col>
      <ion-col no-padding col-48 col-lg-32>
        <test-results-search-card *ngIf="!showDelegatedExaminerRekey()"></test-results-search-card>
      </ion-col>
      <ion-col no-padding col-48 col-lg-32>
        <rekey-search-card *ngIf="!showDelegatedExaminerRekey()"></rekey-search-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr *ngIf="!showDelegatedExaminerRekey() && (showEndToEndPracticeMode() || showTestReportPracticeMode())" />
  <practice-test-report-card id="testReportPracticeMode" *ngIf="showTestReportPracticeMode() && !showDelegatedExaminerRekey()"></practice-test-report-card>
  <practice-end-to-end-card id="endToendPracticeMode" *ngIf="showEndToEndPracticeMode() && !showDelegatedExaminerRekey()"></practice-end-to-end-card>
</ion-content>
