test-summary-section {
  #summary-total {
    font-size: 48px;
    font-weight: bold;
  }

  #summary-title {
    font-size: 20px;
  }

  .mes-test-summary-list {
    li {
      font-size: 20px;
      font-weight: bold;
    }
    list-style: none;
    padding-left: 0;
    margin-top: 0;
  }

  .faults-list {
    padding-top: 12px;
  }

  .fault-text {
    list-style-type: none;
  }
}
