.popover {

  ion-grid {
    border: 0 none map-get($colors, "mes-white") !important;
  }
  background-color: map-get($colors, "mes-white");
  height: 220px;
  width: calc(100% - 12px);
  left: 6px;
  margin-top: 9px;
  position: fixed;
  z-index: 170;

  .gds-radio-button {
    & + label:before {
      width: 40px;
      height: 40px;
    }
  }
  .popover-content {
    margin-left: 65px;
  }
}
