.popover {
  ion-grid {
    border: 0px none #fdfeff !important;
  }
  background-color: map-get($colors, "mes-white");
  height: 235px;
  width: calc(100% - 12px);
  left: 6px;
  margin-top: 9px;
  position: fixed;
  z-index: 170;

  .gds-radio-button {
    & + label:before {
      width: 40px;
      height: 40px;
    }
  }
}
