<button clear (click)="navigateToDelegatedRekey()">
    <ion-card class="delegated-examiner-rekey-card">
        <div id="card-content-wrapper">
            <ion-grid>
                <ion-row class="icon-row">
                    <img src="assets/imgs/dashboard/start-delegated-test.png"
                         alt="Delegated Journal"
                         class="icon-delegated-examiner"/>
                </ion-row>
                <ion-row>
                    <button class="mes-blue-button" color="primary" ion-button="ion-button">
                        <h3>Rekey delegated examiner test</h3>
                    </button>
                </ion-row>
            </ion-grid>
        </div>
    </ion-card>
</button>
