div[class^="rekey-reason-cat-"] {
  .transferInfo {
    color: map-get($colors-gds, gds-grey-1);
    font-weight: initial;
    letter-spacing: initial;
  }

  .staffNumber {
    max-width: 50%;
  }

  ion-footer {
    background-color: map-get($colors, "mes-white");
    button {
      width: 100%;
      min-height: 56px;
    }
  }
  .exclamation-indicator {
    width: 26px;
    height: 26px;
    float: right;
  }
  .test-start-time {
    float: right;
  }
  .nav-close ion-icon {
    margin: -1px 0 0;
    display: inherit;
    min-width: 28px;
    font-size: 3.4rem;
  }

  .selected-border{
    border-width: 0 0 0 4px;
    border-style: solid;
    padding: 0 0 0 16px;
    border-color: map-get($colors-gds, 'gds-grey-3');
    &.ng-invalid {
      border-color: map-get($colors, 'mes-validation-error');
    }
  }

  .character-count {
    color: map-get($colors-gds, gds-grey-1);
    font-weight: initial;
    letter-spacing: initial;
    &.ng-invalid {
      font-weight: 600;
      letter-spacing: -0.49px;
    }
  }

  .radio-label{
    margin: 16px 0;
    display: inline-flex;
  }
  .radio-label:first-of-type {
    margin-top: 0px;
  }
  .radio-label:last-of-type {
    margin-bottom: 0px;
  }

  textarea#otherReasonUpdated {
    word-wrap: break-word;
  }

  .grid {
    .mes-data-row-with-separator.row {
      padding: 0;
      // min-height: 120px;
      > .col {
        padding: 36px 28px 36px 20px;
      }
    }
  }

}
