<ion-header>
  <ion-navbar>
    <ion-title>Reason for rekey</ion-title>
    <ion-buttons end>
      <button ion-button (click)="onExitRekeyPressed()">
        <span>Exit rekey</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce padding>
  <ion-card>
    <ion-card-header>
      <h4>Reason for use</h4>
    </ion-card-header>
    <div [formGroup]="formGroup">
      <ion-grid>
        <ion-row class="mes-data-row-with-separator">
          <ion-col col-40>
            <input id="ipadIssue" value="true" type="checkbox" class="gds-checkbox" formControlName="ipadIssue"
              (change)="ipadIssueSelected($event.target.checked)">
            <label for="ipadIssue">iPad Issue</label>
          </ion-col>
          <ion-col col-56>
            <div class="selected-border" id="ipadIssueSection" *ngIf="(pageState.ipadIssue$ | async).selected">
              <input id="ipadIssueTechFault" type="radio" class="gds-radio-button" name="ipadIssueTechFault"
                formControlName="ipadIssueTechFault" value="true" [checked]="(pageState.ipadIssue$ | async).technicalFault"
                (change)="ipadIssueTechFaultChanged()">
              <label for="ipadIssueTechFault" class="radio-label">Tech Fault</label>
              <input id="ipadIssueLost" type="radio" class="gds-radio-button" name="ipadIssueLost" formControlName="ipadIssueLost"
                [checked]="(pageState.ipadIssue$ | async).lost" value="true" (change)="ipadIssueLostChanged()">
              <label for="ipadIssueLost" class="radio-label">Lost</label>
              <input id="ipadIssueStolen" type="radio" class="gds-radio-button" name="ipadIssueStolen" formControlName="ipadIssueStolen"
                [checked]="(pageState.ipadIssue$ | async).stolen" value="true" (change)="ipadIssueStolenChanged()">
              <label for="ipadIssueStolen" class="radio-label">Stolen</label>
              <input id="ipadIssueBroken" type="radio" class="gds-radio-button" name="ipadIssueBroken" formControlName="ipadIssueBroken"
                [checked]="(pageState.ipadIssue$ | async).broken" value="true" (change)="ipadIssueBrokenChanged()">
              <label for="ipadIssueBroken" class="radio-label">Broken</label>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="mes-data-row-with-separator">
          <ion-col col-40>
            <input id="transferSelected" type="checkbox" class="gds-checkbox" formControlName="transferSelected"
              (change)="transferSelected($event.target.checked)">
            <label for="transferSelected">
              Transfer
            </label>
          </ion-col>
          <ion-col col-56>
            <div class="selected-border" [class.ng-invalid]="!transferStaffExists" id="transferSection" *ngIf="(pageState.transfer$ | async).selected">
              <ion-row>
                <div class="transferInfo">
                  Enter staff number of examiner who conducted the test
                </div>
              </ion-row>
              <ion-row>
                <ion-input placeholder="Staff Number" type="number" id="transferStaffNumber" class="staffNumber"
                  formControlName="transferStaffNumber" clearInput (change)="transferStaffNumberChanged()"></ion-input>
                <button (click)="checkUserExists()" id="find-user" class="mes-return-button" ion-button>
                  Submit
                  <ion-spinner class="search-spinner" name="bubbles" *ngIf="checkingStaffExists"></ion-spinner>
                </button>
                <tick-indicator *ngIf="transferStaffExists" [ticked]="transferStaffExists"></tick-indicator>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="mes-data-row-with-separator">
          <ion-col col-40>
            <input id="otherSelected" type="checkbox" class="gds-checkbox" formControlName="otherSelected" (change)="otherSelected($event.target.checked)">
            <label for="otherSelected">
              Other (specify reason)
            </label>
          </ion-col>
          <ion-col col-56>
            <div class="selected-border" id="reasonSection" *ngIf="(pageState.other$ | async).selected">
              <textarea id="otherReasonUpdated" formControlName="otherReasonUpdated" charLimit="200" charCount
                (onCharacterCountChanged)="characterCountChanged($event)" [class.ng-invalid]="invalid" (change)="otherReasonUpdatedChanged()">
                </textarea>
              <div class="character-count validation-text" [ngClass]="{'ng-invalid': charactersExceeded()}">
                {{getCharacterCountText()}}
              </div>
              <ion-row class="validation-message-row" align-items-center>
                <div [class.ng-invalid]="true" *ngIf="!this.formGroup.get('otherReasonUpdated').valid" class="validation-text">
                  Please fill in a reason for rekey
                </div>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-row class="mes-full-width-card box-shadow">
    <button type="submit" class="mes-primary-button" ion-button (click)="onUploadPressed()">
      <h3>Upload rekeyed test</h3>
    </button>
  </ion-row>
</ion-footer>