<div>
  <ion-grid>
    <ion-row padding>
      <div class="border-and-background">
        <ion-row padding>
          <ion-col col-8 class="warning-centre">
            <ion-icon class="alert-icon" ios="md-alert"></ion-icon>
          </ion-col>
          <ion-col col-88 class="warning-centre">
            <span id="inappropriate-use-warning-text" class="warning-text"><b>This information must only be used for the purposes of the driving test. Any other use is in breach of DVSA policy</b></span>
          </ion-col>
        </ion-row>
      </div>
    </ion-row>
  </ion-grid>
</div>
