stop-debrief-destroy-recording-button {
  .outer-grey-rect {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 60px;
    border-radius: 40px;
    background-color: #ff0000;
    border: solid 5px #e2e2e2;

    &:disabled {
      opacity: 0.3;
    }
  }
  .inner-red-icon {
    position: relative;
    &.stop {
      &:after {
        content: '\f381';
        display: block;
        font-family: 'Ionicons';
        width: 22px;
        height: 22px;
        color: #fff;
        font-size: 34px;
        line-height: 0.7;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &.destroy {
      &:after {
        content: '\f4c5';
        display: block;
        font-family: 'Ionicons';
        width: 22px;
        height: 22px;
        color: #fff;
        font-size: 34px;
        line-height: 0.7;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
