dangerous-tooltip {
  &.remove-mode {
    div {
      border: 4px solid map-get($colors-gds, "gds-black");
    }
  }
  #dangerous-tooltip-text {
    width: 100%;
    height: 44px;
    background: map-get($colors, 'mes-white');
    border: 4px solid map-get($colors-gds, 'gds-red');
    color: map-get($colors-gds, "gds-black");
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.33px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: -4px;
  }
}
