timer {
  #timer-button {
    background-color: map-get($colors, gds-blue);
    width: 110px;
    border-radius: 10px;
    box-shadow: 0 2px 0 0 map-get($colors, gds-grey-1);
  }
  .timer-counter {
    border: 1px solid map-get($colors, gds-grey-1);
    margin-left: 20px;
    font-weight: bold;
    width: 91px;
    height: 42px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 4px;
    line-height: 20px;
  }
}
