timer {
  margin-left: 33px;
  #timer-button {
    background-color: map-get($colors, gds-blue);
    width: 110px;
    border-radius: 10px;
    box-shadow: 0 2px 0 0 map-get($colors, gds-grey-1);
  }
}
