<ion-row class="mes-validated-row mes-row-separator" id="termination-code-card" [formGroup]="formGroup">
    <div class="validation-bar" [class.ng-invalid]="invalid"></div>
    <ion-col class="component-label" col-32 align-self-center>
      <label>Termination Code</label>
    </ion-col>
    <ion-col align-self-center>
      <ion-row class="spacing-row"></ion-row>
      <ion-row>
        <ion-select id="termination-code-selector" placeholder="Select a termination code" okText="Submit" cancelText="Cancel"
          formControlName="terminationCode" (ionChange)="terminationCodeChanged($event)" [selectOptions]="{cssClass:'termination-code-select'}" [disabled]="isSelectDisabled()">
          <ion-option [value]="terminationCode" [disabled]="isOptionDisabled(terminationCode.activityCode)" *ngFor="let terminationCode of terminationCodeOptions">
            {{terminationCode.activityCode}} - {{terminationCode.description}}
          </ion-option>
        </ion-select>
      </ion-row>
      <ion-row class="validation-message-row" align-items-center>
        <div class="validation-text" [class.ng-invalid]="invalid">
          Select the termination code
        </div>
      </ion-row>
    </ion-col>
  </ion-row>