conducted-language {
  button {
    &.conducted-language-link {
      background: transparent;
      margin-top: 12px;
      font-size: 23px;
      padding-left: 550px;
      padding-right: 8px;
    }
    &.focused {
      background: transparent;
      color: #3572b0;
      text-decoration: underline;
      text-underline-position: under;
      font-weight: 500;
      line-height: 20px;
      padding-bottom: 3px;
    }
    &.conducted-language-link-welsh {
      padding-left: 8px;
    }
  }
}
