page-journal {
  .slot {
    margin: 1em auto;
    height: 7.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: map-get($map: $colors, $key: offWhite);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    &__time {
      font-weight: bold;
      font-size: 1.6em;
    }
    ion-col {
      & > div {
        border-right: 1px solid #ccc;
        width: 100%;
        &.slot__candidate {
        }
      }
    }
  }
}
