page-journal {
  .version-number {
    color: map-get($colors, mes-secondary-header);
    margin-top: -4px;
  }
  .last-sync {
    color: map-get($colors, mes-secondary-header);
    margin-top: -4px;
  }
  .refresh-button-icon {
    padding: 0 10px;
  }
  #unauthenticated-mode-indicator {
    text-align: center;
    padding: 16px 0;
    background: map-get($colors-gds, 'gds-red');
    #unauth-text {
      color: #FFFFFF;
      font-family: SFProDisplay-Regular;
      font-size: 20px;
      font-weight: normal;
      height: 25px;
      letter-spacing: 0.34px;
      line-height: 25px;
      width: 454.53px;
    }
  }

  .toolbar-ios ion-title {
    height: 100% !important;
  }
  ion-buttons[start] .button-inner{
    flex-flow: column;
    align-items: flex-start;
    line-height: 25px;
  }
  ion-buttons[end] .button-inner{
    flex-flow: column;
    align-items: flex-end;
    line-height: 25px;
  }
}
