<ion-header>
  <ion-navbar>
    <ion-title>Journal</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">Logout</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Journal
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <button ion-button navPush="ContactDetailsPage">Contact Details</button>
      <button ion-button navPush="WaitingRoomPage">Waiting Room</button>
    </ion-card-content>
    <ion-list>
      <ion-card *ngFor="let s of journalSlot">
         <h6>{{s | json}}</h6>
      </ion-card>
      <ion-card *ngIf="hasError">
        <h3 class="mes-red">Unfortunately your journal cannot be loaded at the moment</h3>
      </ion-card>
    </ion-list>
  </ion-card>
</ion-content>
