page-journal {
  div.scroll-content {
    padding: 0 1.2em !important;
  }
  ion-list {
    margin-top: -1em !important;
  }
  .slot {
    margin: 1em auto;
    height: 7.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: map-get($colors, white);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    &__time {
      font-weight: bold;
      font-size: 1.6em;
    }
    ion-col {
      & > div {
        width: 100%;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        padding: 1em;
        button {
          min-width: 0;
        }
      }
    }
    ion-label {
      margin: 0;
      height: 100%;
      & > ion-row {
        height: 100%;
        padding: 1em 0;
      }
    }
    .journal-test-completed-text {
      color: #818080;
    }
    .journal-warning-icon {
      width: 1em;
      height: 1em;
      margin-left: -1em;
    }
  }
}
