<ion-card>
  <ion-card-header>
    <ion-card-title>Typography</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div style="margin-bottom: 16px;">This card contains the global heading styles which can be used across the app</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>H1 header</h1>
        </ion-col>
        <ion-col>
          <code>h1 html tag</code>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h2>H2 header</h2>
        </ion-col>
        <ion-col>
          <code>h2 html tag</code>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h3>H3 header</h3>
        </ion-col>
        <ion-col>
          <code>h3 html tag</code>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h4>H4 header</h4>
        </ion-col>
        <ion-col>
          <code>h4 html tag</code>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <a>This is a link</a>
        </ion-col>
        <ion-col>
          <code>a html tag</code>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <label>label in a row</label>
        </ion-col>
        <ion-col>
          <code>label html tag</code>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="mes-data">data in a row</div>
        </ion-col>
        <ion-col>
          <code>mes-data class on div tag</code>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>