<ion-card>
  <ion-card-header>
    <ion-card-title>Typography</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div style="margin-bottom: 16px;">This card contains the global heading styles which can be used across the app</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>H1 header</h1>
        </ion-col>
        <ion-col>
          <code>h1 html tag</code>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h2>H2 header</h2>
        </ion-col>
        <ion-col>
          <code>h2 html tag</code>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h3>H3 header</h3>
        </ion-col>
        <ion-col>
          <code>h3 html tag</code>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h4>H4 header</h4>
        </ion-col>
        <ion-col>
          <code>h4 html tag</code>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h5>H5 header</h5>
        </ion-col>
        <ion-col>
          <code>h5 html tag</code>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h5>H6 header</h5>
        </ion-col>
        <ion-col>
          <code>h6 html tag</code>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>

  <ion-card-header>
    <ion-card-title>Paragraph</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div style="margin-bottom: 16px;">This is a simple html p element</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur leo non ante gravida, at pretium lorem porta. Ut eget massa dictum, posuere tellus et, lacinia ipsum. Proin blandit neque id porta malesuada. Maecenas rutrum fermentum hendrerit. Curabitur eu sapien vitae purus vehicula aliquet vitae eget augue. Aliquam erat tortor, vestibulum vitae facilisis dignissim, pulvinar eu ante. Mauris vestibulum sed ante vitae fermentum. Curabitur ut tristique sem, non convallis ipsum. In auctor, turpis ut egestas scelerisque, libero orci sollicitudin turpis, nec accumsan nunc nulla quis dui.</p>
  </ion-card-content>

  <ion-card-header>
      <ion-card-title>Inline elements</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        <a>anchor element</a>
      </div>
      <div>
        <i>italic element</i>
      </div>
    </ion-card-content>
</ion-card>