tabs {
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
  }

  li {
    display: inline;
    border: 1px solid map-get($colors-gds, 'gds-grey-4');
    border-width: 1px;
    border-bottom-color: map-get($colors-gds, 'gds-black');
    padding: 16px;
    background-color: map-get($colors-gds, 'gds-grey-4');
  }

  li.active {
    background-color: map-get($colors, 'mes-white');
    border: solid;
    border-width: 1px;
    border-bottom-color: map-get($colors, 'mes-white');
  }

  .nav {
    h4 {
      display: inline;
    }
  }

  #content {
    background-color: map-get($colors, 'mes-white');
    border: 1px solid map-get($colors-gds, 'gds-black');
  }
}