tabs {
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    padding: 16px;
    background-color: map-get($colors-gds, 'gds-grey-4');
    margin-right: 6px;
    margin-bottom: 6px;
  }

  li.active {
    position: relative;
    top: 1px;
    background-color: map-get($colors, 'mes-white');
    border: 1px solid map-get($colors, 'mes-white');
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 22px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  .nav {
    h4 {
      display: inline;
    }
  }

  #content {
    background-color: map-get($colors, 'mes-white');
    border: 1px solid map-get($colors, 'mes-white');
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
}