page-test-report {
  .content-ios {
    background-color: #DEE0E2;
  }
  .section-header {
    color: map-get($colors-gds, 'gds-black');
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    margin-left: 4px;
  }
  .divider {
    border-top: 1px solid #6F777B;
    margin: 4px 8px;
  }

  .dark-divider {
    border-top: 1px solid #2F3233;
    box-shadow: 0 1px 0 0 #FFFFFF;
    margin: 4px 8px;
  }

}
