<ion-card id="vehicle-checks">
  <ion-card-header>
    <ion-card-title>
      <h4 class="fault-heading">{{ 'debrief.vehicleChecks' | translate }}</h4>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row align-items-center *ngFor="let question of tellMeShowMeQuestions$ | async" class="mes-data">
          <ion-col col-32 no-padding></ion-col>
          <ion-col col-2 no-padding align-self-start>
            <div class="counter-icon">
              <img *ngIf="!questionHasFault(question)" src="assets/imgs/greenCorrectAnswer.png" alt="Correct Answer" class="correct-icon"/>
              <img *ngIf="questionHasFault(question)" src="assets/imgs/redWrongAnswer.png" alt="Wrong Answer" class="wrong-icon"/>

            </div>
          </ion-col>
          <ion-col col-3 no-padding></ion-col>
          <ion-col no-padding>
            <div class="counter-label">{{question.code}} - {{ 'debrief.showMeTellMeQuestions.' + question.code | translate }}</div>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
