<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>Test debrief - {{pageState.candidateUntitledName$ | async}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-grid>

        <finalisation-header [candidateName]="pageState.candidateName$ | async"
          [candidateDriverNumber]="pageState.candidateDriverNumber$ | async"
          [outcomeText]="pageState.testOutcomeText$ | async"></finalisation-header>

        <ion-row class="mes-component-row mes-row-separator" id="application-reference-card" align-items-center>
          <ion-col class="component-label" col-32>
            <label>Application reference</label>
          </ion-col>
          <ion-col padding-left>
            <span class="mes-data">{{pageState.applicationNumber$ | async }}</span>
          </ion-col>
        </ion-row>

        <bike-category-type testType="MOD1"
                            [testCategory] = "pageState.testCategory$ | async"
                            (categoryCodeChange)="categoryCodeChanged($event)"
                            [categoryConfirmed]="true"
                            [formGroup]="form">
        </bike-category-type>

        <transmission
          [formGroup]="form"
          (transmissionChange)="transmissionChanged($event)">
        </transmission>

        <warning-banner *ngIf="displayTransmissionBanner()" warningText="An automatic licence will be issued.">
        </warning-banner>

        <pass-certificate-number-cat-a-mod1
          [form]="form"
          [passCertificateNumberInput]="pageState.passCertificateNumber$ | async"
          (passCertificateNumberChange)="passCertificateNumberChanged($event)">
        </pass-certificate-number-cat-a-mod1>

        <d255 [display]=true
              [d255]="pageState.d255$ | async"
              [outcome]="testOutcome"
              [formGroup]="form"
              (d255Change)="d255Changed($event)">
        </d255>
        <warning-banner *ngIf="pageState.d255$ | async"
                        warningText="DVLA will not process the result until a D255 is received">
        </warning-banner>

        <language-preferences [formGroup]="form" [isWelsh]="(pageState.conductedLanguage$ | async) === 'Cymraeg'"
          (welshChanged)="isWelshChanged($event)"></language-preferences>

        <debrief-witnessed [display]=true [formGroup]="form" [debriefWitnessed]="pageState.debriefWitnessed$ | async"
          [outcome]="testOutcome" (debriefWitnessedChange)="debriefWitnessedChanged($event)">
        </debrief-witnessed>

      </ion-grid>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-row class="mes-full-width-card box-shadow">
    <button type="submit" class="mes-primary-button" ion-button (click)="onSubmit()">
      <h3>Continue</h3>
    </button>
  </ion-row>
</ion-footer>
