page-office {
    ion-content {
        // background-color: map-get($colors, "mes-white");
        .mes-full-width-card {
          height: 120px;
          #continue-to-test-report {
            width: 100%;
            height: 56px;
          }
        }
        .manual-label-top-spacing {
          label {
            display: block;
            margin-top: 42px;
          }
        }
        // ion-textarea {
        //   padding: 10px;
        //   display: block;
        //   border: thick solid map-get($colors, divider);
        //   width: 100%;
        //   margin: 10px 0 0 0;
        // }
      }
      .unsuccessful {
        color: map-get($colors, "mes-red");
      }
      .inline-mode {
        display: inline;
      }
      .card-content-ios{
        padding: 0;
      }    
      .grid{
        padding: 0;
      }
    
}
ion-footer {
  background-color: map-get($colors, "mes-white");
   button {
    width: 100%;
    height: 56px;
   }
}
