<ion-header>
    <ion-navbar>
      <ion-title>Office</ion-title>
      <ion-buttons end>
          <button ion-button (click)="logout()">Logout</button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Office
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <button ion-button (click)="popToRoot()">Journal Page</button>
        <button ion-button navPush="TerminateTestPage">Terminate Test</button>
      </ion-card-content>
    </ion-card>

    <ion-card id="ETA" *ngIf="(pageState.etaFaults$ | async)">
        <ion-card-content>
          <ion-grid>
            <ion-row align-items-start class="mes-data">
              <ion-col col-34>
                <h4 class="fault-heading">ETA</h4>
              </ion-col>
              <ion-col align-self-start>
                <div id="etaFaults">{{pageState.etaFaults$ | async}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card id="eco" *ngIf="(pageState.ecoFaults$ | async)">
          <ion-card-content>
            <ion-grid>
              <ion-row align-items-start class="mes-data">
                <ion-col col-34>
                  <h4 class="fault-heading">ECO</h4>
                </ion-col>
                <ion-col align-self-start>
                  <div id="ecoFaults">{{pageState.ecoFaults$ | async}}</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
  </ion-content>
