page-office {
    ion-content > div {
        background-color: map-get($colors, "mes-white");
        .mes-full-width-card {
          height: 120px;
          #continue-to-test-report {
            width: 100%;
            height: 56px;
          }
        }
        ion-footer button {
          width: 100%;
          height: 56px;
        }
        .manual-label-top-spacing {
          label {
            display: block;
            margin-top: 42px;
          }
        }
      }
}
