<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>Office</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">Logout</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="mes-full-width-card" id="candidate-section">
    <ion-col col-60>
      <h2 id="candidate-name">{{pageState.candidateName$ | async}}</h2>
      <h3 id="candidate-driver-number">{{pageState.candidateDriverNumber$ | async}}</h3>
    </ion-col>
    <ion-col col-36 class="align-col-right">
      <h2>{{pageState.startTime$ | async}}</h2>
      <h3>test outcome:
        <span
          [ngClass]="(pageState.isPassed$ | async) ? 'mes-green' : 'mes-red'">{{pageState.testOutcome$ | async}}</span>
      </h3>
    </ion-col>
  </ion-row>

  <form [formGroup]="form">

    <ion-card>
      <ion-card-header>
        <h4>Test Summary</h4>
      </ion-card-header>

      <ion-card-content class="card-content-ios" no-bounce>
        <ion-grid class="grid">

          <route-number [routeNumber]="pageState.routeNumber$ | async" (routeNumberChange)="routeNumberChanged($event)"
            [formGroup]="form">
          </route-number>

          <ion-row class="mes-validated-row mes-row-separator" id="independent-driving-card">
            <div class="validation-bar" [class.ng-invalid]="isCtrlDirtyAndInvalid('independentDrivingCtrl')">
            </div>
            <ion-col class="component-label" col-32 align-self-center>
              <label>Independent driving</label>
            </ion-col>
            <ion-col align-self-center>
              <ion-row class="spacing-row"></ion-row>
              <ion-row>
                <ion-col col-32>
                  <input type="radio" formControlName="independentDrivingCtrl" name="independentDrivingCtrl"
                    id="independent-driving-satnav" class="gds-radio-button"
                    [class.ng-invalid]="isCtrlDirtyAndInvalid('independentDrivingCtrl')" (click)="satNavUsed()"
                    [checked]="pageState.independentDrivingSatNavRadioChecked$ | async" value='Sat nav'>
                  <label for="independent-driving-satnav" class="radio-label">Sat Nav</label>
                </ion-col>
                <ion-col>
                  <input type="radio" formControlName="independentDrivingCtrl" name="independentDrivingCtrl"
                    id="independent-driving-trafficsigns" class="gds-radio-button"
                    [class.ng-invalid]="isCtrlDirtyAndInvalid('independentDrivingCtrl')" (click)="trafficSignsUsed()"
                    [checked]="pageState.independentDrivingTrafficSignsRadioChecked$ | async" value='Traffic signs'>
                  <label for="independent-driving-trafficsigns" class="radio-label">Traffic signs</label>
                </ion-col>
              </ion-row>
              <ion-row class="validation-message-row" align-items-center>
                <div class="validation-text" [class.ng-invalid]="isCtrlDirtyAndInvalid('independentDrivingCtrl')">
                  Select the method of independent driving
                </div>
              </ion-row>
            </ion-col>
          </ion-row>

          <candidate-description [formGroup]="form" [candidateDescription]="pageState.candidateDescription$ | async"
            (candidateDescriptionChange)="candidateDescriptionChanged($event)"></candidate-description>

          <debrief-witnessed [formGroup]="form" [debriefWitnessed]="pageState.debriefWitnessed$ | async"
            (debriefWitnessedChange)="debriefWitnessedChanged($event)"></debrief-witnessed>

          <identification [formGroup]="form" [identification]="pageState.identification$ | async"
            (identificationChange)="identificationChanged($event)">
          </identification>

          <ion-row class="mes-validated-row mes-row-separator" id="tell-me-question-card">
            <div class="validation-bar"></div>
            <ion-col class="component-label" col-32 align-self-center>
              <label>Tell me question</label>
            </ion-col>
            <ion-col align-self-center>
              <ion-row class="spacing-row"></ion-row>
              <ion-row>
                <ion-col col-64 class="mes-data">{{pageState.tellMeQuestionText$ | async}}</ion-col>
              </ion-row>
              <ion-row class="spacing-row"></ion-row>
            </ion-col>
          </ion-row>

          <show-me-question [formGroup]="form" [showMeQuestion]="pageState.showMeQuestion$ | async"
            [showMeQuestionOptions]="showMeQuestions" (showMeQuestionChange)="showMeQuestionChanged($event)">
          </show-me-question>

          <weather-conditions [weatherConditions]="pageState.weatherConditions$ | async" [formGroup]="form"
            [weatherConditionsOptions]="weatherConditions" (weatherConditionsChange)="weatherConditionsChanged($event)">
          </weather-conditions>

          <d255 [d255]="pageState.d255$ | async" [formGroup]="form" (d255Change)="d255Changed($event)"></d255>

          <additional-information [additionalInformation]="pageState.additionalInformation$ | async" [formGroup]="form"
            (additionalInformationChange)="additionalInformationChanged($event)"></additional-information>

        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card id="ETA" *ngIf="(pageState.etaFaults$ | async)">
      <ion-card-content>
        <ion-grid>
          <ion-row align-items-start class="mes-data">
            <ion-col col-34>
              <h4 class="fault-heading">ETA</h4>
            </ion-col>
            <ion-col align-self-start>
              <div id="etaFaults">{{pageState.etaFaults$ | async}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card id="eco" *ngIf="(pageState.ecoFaults$ | async)">
      <ion-card-content>
        <ion-grid>
          <ion-row align-items-start class="mes-data">
            <ion-col col-34>
              <h4 class="fault-heading">ECO</h4>
            </ion-col>
            <ion-col align-self-start>
              <div id="ecoFaults">{{pageState.ecoFaults$ | async}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card id="dangerous-fault" *ngIf="(pageState.dangerousFaults$ | async).length > 0">
      <ion-card-header>
        <h4>Dangerous defects</h4>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="mes-component-row mes-row-separator" id="dangerous-commentary-label"
          *ngFor="let dangerousFault of (pageState.dangerousFaults$ | async); let $i = index;">
          <div class="validation-bar" [class.ng-invalid]="isCtrlDirtyAndInvalid('dangerousFaultCtrl' + $i)">
          </div>
          <ion-col class="component-label" align-self-center col-1>
            <dangerous-fault-badge [showBadge]="true"></dangerous-fault-badge>
          </ion-col>
          <ion-col class="component-label" col-29 align-self-center>
            <label class="fault-label">{{dangerousFault.name}}</label>
          </ion-col>
          <ion-col>
            <ion-row class="spacing-row"></ion-row>
            <ion-row>
              <dangerous-fault-comment [index]="$i" [competency]="dangerousFault.propertyName"
                [faultName]="dangerousFault.name" [invalidIndicator]="isCtrlDirtyAndInvalid('dangerousFaultCtrl' + $i)"
                [parentForm]="form">
              </dangerous-fault-comment>
            </ion-row>
            <ion-row class="validation-message-row" align-items-center>
              <div class="validation-text" [class.ng-invalid]="isCtrlDirtyAndInvalid('dangerousFaultCtrl' + $i)">
                Provide a comment
              </div>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card id="serious-fault" *ngIf="(pageState.seriousFaults$ | async).length > 0">
      <ion-card-header>
        <h4>Serious faults</h4>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="mes-validated-row mes-row-separator" id="serious-commentary-label"
          *ngFor="let seriousFault of (pageState.seriousFaults$ | async); let $i = index;">
          <div class="validation-bar" [class.ng-invalid]="isCtrlDirtyAndInvalid('seriousFaultCtrl' + $i)">
          </div>
          <ion-col class="component-label" align-self-center col-1>
            <serious-fault-badge [showBadge]="true"></serious-fault-badge>
          </ion-col>
          <ion-col class="component-label" col-29 align-self-center>
            <label class="fault-label">{{seriousFault.name}}</label>
          </ion-col>
          <ion-col>
            <ion-row class="spacing-row"></ion-row>
            <ion-row>
              <serious-fault-comment [index]="$i" [competency]="seriousFault.propertyName"
                [faultName]="seriousFault.name" [invalidIndicator]="isCtrlDirtyAndInvalid('seriousFaultCtrl' + $i)"
                [parentForm]="form">
              </serious-fault-comment>
            </ion-row>
            <ion-row class="validation-message-row" align-items-center>
              <div class="validation-text" [class.ng-invalid]="isCtrlDirtyAndInvalid('seriousFaultCtrl' + $i)">
                Provide a comment
              </div>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>

    <ion-card id="driving-fault-with-commentary" *ngIf="pageState.displayDrivingFaultComments$ | async">
      <ion-card-header>
        <h4>Driving faults</h4>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="mes-validated-row mes-row-separator" id="driving-fault-commentary-label"
          *ngFor="let drivingFault of (pageState.drivingFaults$ | async); let $i = index;">
          <div class="validation-bar" [class.ng-invalid]="isCtrlDirtyAndInvalid('drivingFaultCtrl'+$i)"></div>
          <ion-col class="component-label" align-self-center col-1>
            <div class="counter-icon">
              <driving-faults-badge class="counter driving-faults" [count]="drivingFault.count"></driving-faults-badge>
            </div>
          </ion-col>
          <ion-col class="component-label" col-29 align-self-center>
            <label class="fault-label">{{drivingFault.name}}</label>
          </ion-col>
          <ion-col>
            <ion-row class="spacing-row"></ion-row>
            <ion-row>
              <driving-fault-comment [index]="$i" [competency]="drivingFault.propertyName"
                [faultCount]="drivingFault.count" [faultName]="drivingFault.name"
                [invalidIndicator]="isCtrlDirtyAndInvalid('drivingFaultCtrl' + $i)" [parentForm]="form">
              </driving-fault-comment>
            </ion-row>
            <ion-row class="validation-message-row" align-items-center>
              <div class="validation-text" [class.ng-invalid]="isCtrlDirtyAndInvalid('drivingFaultCtrl' + $i)">
                Provide a comment
              </div>
            </ion-row>
          </ion-col>

        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card id="driving-fault-no-commentary"
      *ngIf="!(pageState.displayDrivingFaultComments$ | async) && (pageState.drivingFaultCount$ | async) > 0">
      <ion-card-header>
        <h4>Driving faults</h4>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="driving-fault-no-commentary-row" id="driving-fault-commentary-label"
          *ngFor="let drivingFault of (pageState.drivingFaults$ | async)">
          <ion-col class="component-label" align-self-center col-1>
            <div class="counter-icon">
              <driving-faults-badge class="counter driving-faults" [count]="drivingFault.count"></driving-faults-badge>
            </div>
          </ion-col>
          <ion-col class="component-label" col-58 align-self-center>
            <label class="fault-label">{{drivingFault.name}}</label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

      <div [hidden]="!keyboard.isOpen()" class="keyboard-space"></div>
  </form>
</ion-content>
<ion-footer>
  <ion-row class="mes-full-width-card">
    <ion-col col-36>
      <button class="defer-button" ion-button (click)="defer()">
        <h3>Save and continue later</h3>
      </button>
    </ion-col>
    <ion-col col-48></ion-col>
    <ion-col col-12>
      <button class="mes-primary-button" ion-button (click)="onSubmit()">
        <h3>Submit</h3>
      </button>
    </ion-col>
  </ion-row>
</ion-footer>
