<div float-right>
  <ion-grid>
    <ion-row align-items-right>
      <ion-col *ngIf="!canStartTest && !canSubmitTest">
        <span class="outcome">{{outcome}}</span>
      </ion-col>
      <ion-col *ngIf="canStartTest">
        <span><button class="start-test-button" ion-button>Start test</button></span>
      </ion-col>
      <ion-col *ngIf="canSubmitTest">
          <span><button class="submit-test-button" ion-button>Submit</button></span>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
