test-outcome {
  .outcome {

  }
  .start-test-button {
    background: map-get($colors-gds, gds-dark-green);
    box-shadow: inset 0 -2px 0 0 map-get($colors-gds, gds-green);
    border-radius: 10px;
  }
  .submit-test-button {
    background: map-get($colors, secondary-button);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
}
