<ion-card>
  <ion-card-header>
    <ion-card-title>Form items</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <h3>Checkboxes</h3>
    <ion-grid>
      <ion-row>
        <ion-col>
          <input type="checkbox" class="gds-checkbox" id="demo-checkbox-1">
          <label for="demo-checkbox-1">Checkbox</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <input type="checkbox" class="gds-checkbox" id="demo-checkbox-2" checked>
          <label for="demo-checkbox-2">Checked Checkbox</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <input type="checkbox" class="gds-checkbox invalid" id="demo-checkbox-3">
          <label for="demo-checkbox-3">Invalid Checkbox</label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>