<button class="lw-alert-button" (mousedown)="onTouch()" (mouseup)="onTouchLeave()" [class.sent]="false" [class.received]="flase" [disabled]="false">
  <span *ngIf="true">
    Hold down for
    <br />
    <span class="lw-button-name-text">
      {{ status?.alertType === 'Red' ? 'Red Alert' : 'Amber Alert' }}
    </span>
  </span>
  <div *ngIf="status?.sending && !status?.received">
    sending
  </div>
  <div *ngIf="status?.received">
    received
  </div>
  <div *ngIf="status?.error">
    error
  </div>
</button>