journal-navigation {
  margin: 24px 12px;

  .navigation-button {
    display: flex;
    align-items: center;
    margin-top: 12px;
  }

  .next-navigation-button {
    @extend .navigation-button;
    float: right;
  }

  .navigation-arrow {
    width: 48px;
    height: 48px;
    font-weight: bolder;
    border-radius: 50%;
    color: #000;
    line-height: 48px;
    text-align: center;
    background: #fff;
  }

  #previous-day {
    padding-left: 12px;
  }

  #next-day {
    padding-right: 12px;
  }

  #date-container {
    text-align: center;
    white-space: nowrap;
  }

  // TODO: This is here only until PR #134 gets merged in
  h1 {
    margin: 0;
  }
}