<div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="navigation-button" (click)="onPreviousDayClick()">
          <ion-icon class="navigation-arrow" name="arrow-back"></ion-icon>
          <span id="previous-day">Previous day</span>
        </div>
      </ion-col>
      <ion-col>
        <div id="date-container">
          <h1>{{ pageState.selectedDate$ | async | date:'EEEE' }}</h1>
          <h3>{{ pageState.selectedDate$ | async | date:'d MMMM y' }}</h3>
        </div>
      </ion-col>
      <ion-col>
        <div class="next-navigation-button" (click)="onNextDayClick()">
          <span id="next-day">Next day</span>
          <ion-icon class="navigation-arrow" name="arrow-forward"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>