journal-navigation {
  .navigation-button {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.19px;
    line-height: 25px;
  }

  .navigation-arrow {
    width: 48px;
    height: 48px;
    font-weight: bolder;
    border-radius: 50%;
    color: #000;
    line-height: 48px;
    text-align: center;
    background: #fff;
  }

  #previous-day {
    padding-left: 12px;
  }

  #next-day {
    padding-right: 12px;
  }

  h1 {
    margin: 0;
  }
}