// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  mes-background: #ecf4f6,
  mes-toolbar-background: rgba(33, 33, 33, 0.72),
  mes-toolbar-button-color:  #ff9500,
  mes-white: #ffffff,
);

$colors-gds: (
  gds-black: #0b0c0c,
  gds-grey-1: #6f777b,
  gds-grey-2: #bfc1c3,
  gds-grey-3: #dee0e2,
  gds-grey-4: #f8f8f8,
  gds-red: #b10e1e,
  gds-bright-red: #df3034,
  gds-orange: #f47738,
  gds-brown: #b58840,
  gds-yellow: #ffbf47,
  gds-light-green: #85994b,
  gds-green: #006435,
  gds-dark-green: #00823b,
  gds-turquoise: #28a197,
  gds-light-blue: #2b8cc4,
  gds-blue: #005ea5,
  gds-light-purple: #6f72af,
  gds-purple: #2e358b,
  gds-bright-purple: #912b88,
  gds-pink: #d53880,
  gds-light-pink: #f499be,
);

// Used by mixin to generate font classes
$colors-mes-fonts: (
  black: map-get($colors-gds, gds-black),
  nearly-black: #040404,
  green: map-get($colors-gds, gds-dark-green),
  grey: map-get($colors-gds, gds-grey-1),
  red: map-get($colors-gds, gds-bright-red)
);

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$background-color: map-get($colors, mes-background);

$toolbar-background: map-get($colors, mes-toolbar-background);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$toolbar-ios-button-color: map-get($colors, mes-toolbar-button-color);

$card-ios-background-color: map-get($colors, mes-white);
$card-ios-margin-bottom: 16px;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// Font sizes used in the design
$sizes-font: (
  xxlarge: 48px,
  xlarge: 44px,
  large: 36px,
  medium: 24px,
  small: 19px,
  xsmall: 17px,
  xxsmall: 16px
);
