// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  mes-secondary-header: #dbd8d8,
  mes-background: #efefee,
  mes-toolbar-background: #212121,
  mes-white: #ffffff,
  mesBoxGrey: #f6f6f6,
  journalTestCategory:  #818080,
  journalSlotChangeIdentifier: #d0021b,
  secondary-button: #f5a623,
  nonTestActivitySlotBackground: rgba(198, 236, 233, 0.1),
  travelSlotBackground: #eef8e5,
  mes-validation-error: #b12025,
  mes-light-yellow: #F8E8CE,
  mes-light-grey: #f9f9f9,
  reverseLightBlue: #e8f0fe,
);

$colors-gds: (
  gds-black: #0b0c0c,
  gds-grey-1: #6f777b,
  gds-grey-2: #bfc1c3,
  gds-grey-3: #dee0e2,
  gds-grey-4: #f8f8f8,
  gds-grey-5: #efefee,
  gds-red: #b10e1e,
  gds-bright-red: #df3034,
  gds-orange: #f47738,
  gds-brown: #b58840,
  gds-yellow: #ffbf47,
  gds-light-green: #85994b,
  gds-green: #006435,
  gds-dark-green: #00823b,
  gds-dark-green-2: #006f4b,
  gds-dark-green-3: #00703c,
  gds-turquoise: #28a197,
  gds-light-blue: #2b8cc4,
  gds-blue: #005ea5,
  gds-light-purple: #6f72af,
  gds-purple: #2e358b,
  gds-bright-purple: #912b88,
  gds-pink: #d53880,
  gds-light-pink: #f499be,
  gds-lavendar: #e8f0fe,
);

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$background-color: map-get($colors, mes-background);

$toolbar-background: map-get($colors, mes-toolbar-background);

$grid-padding-width: 8px;
$grid-columns: 96;

$alert-min-width: 400px;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$toolbar-ios-button-color: map-get($colors, mes-white);

$card-ios-text-color: map-get($colors-gds, gds-black);
$card-ios-background-color: map-get($colors, mes-white);
$card-ios-margin-bottom: 16px;
$list-ios-background-color: map-get($colors, mes-white);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

