// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: '../assets/fonts';
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import 'ionic.globals';
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  warn: #f0ad4e,
  light: #f4f4f4,
  dark: #222,
  lighterDark: #25292a,
  darkerGrey: #383e3e,
  lighterGrey: #5a5a5a,
  divider: #d8d4d4,
  faintDivider: #f3f3f3,
  white: #ffffff,
  pageBg: #ecf4f6,
  textGrey: #c9c7c7,
  textDarkerGrey: #848484,
  offWhite: #f7f7f7,
  mesPrimary: #3b7b00,
  mesBoxGrey: #f6f6f6,
  activeOrange: #bf7a10,
  checkYellow: #f7ef0d,
  btnGreen: #3b7b00,
  passedGreen: #1bb700,
  failRed: #c71e1f,
  seriousYellow: #c9c015,
  deviceLockedOrange: #edc628,
  black: black,
  expanderBg: #c5c5c5,
  recording: #ff2f00
);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import 'ionic.theme.default';
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import 'ionic.ionicons';
// Fonts
// --------------------------------------------------
@import 'roboto';
@import 'noto-sans';
$split-pane-ios-side-min-width: 202px;
$split-pane-ios-side-max-width: 202px;
$split-pane-md-side-min-width: 202px;
$split-pane-md-side-max-width: 202px;
