alpha-header {
  .header {
    color: #ffff;
    .toolbar-background {
      background-color: black;
    }
    .heading-small {
      position: absolute;
      top: 8px;
    }
    p {
      font-size: smaller;
    }
  }

  .phase-banner {
    border-top: 10px;
    border-top-style: solid;
    border-top-color: #005ea5;
    margin-left: 24px;
    margin-right: 24px;
  }
}
