<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>{{pageState.candidateName$ | async}}</ion-title>
    <ion-buttons end>
      <!-- TODO - PREP-AMOD1: update to cat A -->
      <end-test-link category="B+E"></end-test-link>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-grid>

        <ion-row no-padding>
          <ion-col no-padding>
            <bike-category-type testType="MOD1" [testCategory] = "pageState.testCategory$ | async"
                           (categoryCodeChange)="categoryCodeChanged($event)" [formGroup]="form">
            </bike-category-type>

            <transmission [formGroup]="form"
              [hideTransmissionLabel]="true"
              [hideConfirmTransmissionLabel]="false"
              [transmission]="pageState.transmission$ | async"
              (transmissionChange)="transmissionChanged($event)"></transmission>

            <vehicle-registration [formGroup]="form" [vehicleRegistration]="pageState.registrationNumber$ | async"
              (vehicleRegistrationChange)="vehicleRegistrationChanged($event)"></vehicle-registration>

            <accompaniment-card [formGroup]="form" [instructorAccompaniment]="pageState.instructorAccompaniment$ | async"
              [supervisorAccompaniment]="pageState.supervisorAccompaniment$ | async" [otherAccompaniment]="pageState.otherAccompaniment$ | async"
              [interpreterAccompaniment]="pageState.interpreterAccompaniment$ | async" (instructorAccompanimentChange)="instructorAccompanimentToggled()"
              (supervisorAccompanimentChange)="supervisorAccompanimentToggled()" (otherAccompanimentChange)="otherAccompanimentToggled()"
              (interpreterAccompanimentChange)="interpreterAccompanimentToggled()">
            </accompaniment-card>

            <vehicle-details-card [formGroup]="form"
            [hideSchoolVehicleAndDualControlRow]="true"
            [hideSchoolBikeRow]="false"
            [schoolVehicleDetails]="pageState.schoolBike$ | async"
            (schoolBikeVehicleDetailsChange)="schoolBikeToggled()"></vehicle-details-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
<ion-footer [hidden]="pageState.eyesightTestFailed$ | async">
  <ion-row class="mes-full-width-card box-shadow">
    <button type="submit" class="mes-primary-button" id="continue-to-test-report-button" ion-button (click)="onSubmit()">
      <h3>Continue to test report</h3>
    </button>
  </ion-row>
</ion-footer>
