// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import '../theme/sass-partials/reset.scss';

@import '../theme/sass-partials/_alert.scss';
@import '../theme/sass-partials/_typography.scss';
@import '../theme/sass-partials/_fonts.scss';
@import '../theme/sass-partials/_colors.scss';
@import '../theme/sass-partials/_toast.scss';
@import '../theme/sass-partials/_box.scss';
@import '../theme/sass-partials/_row.scss';
@import '../theme/sass-partials/_modal.scss';
@import '../theme/sass-partials/_buttons.scss';
@import '../theme/sass-partials/_checkbox.scss';
@import '../theme/sass-partials/_radio.scss';
@import '../theme/sass-partials/_input.scss';
@import '../theme/sass-partials/_spacing';
@import '../theme/sass-partials/_validation.scss';
@import '../theme/sass-partials/_textarea.scss';

@import '../theme/sass-modules/_typography.scss';

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.toolbar-ios ion-title {
  height: 100% !important;
  width: 100% !important;
}

body {
  -webkit-text-size-adjust: 100% !important; // prevents the iOS text size config from adjusting webview zoom level
}
