<ion-card>
  <ion-card-header>
    <ion-card-title>Color Palette</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>This card contains the color palette that is used accross the app</p>
    <ion-grid>
      <ion-row>
        <ion-col>
          the color
        </ion-col>
        <ion-col>
          name in colors array
        </ion-col>
        <ion-col>
          hex code
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="color-col gds-yellow">
        </ion-col>
        <ion-col>
          gds-yellow
        </ion-col>
        <ion-col>
          #ffbf47
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="color-col gds-light-green">
        </ion-col>
        <ion-col>
          gds-light-green
        </ion-col>
        <ion-col>
          #85994b
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="color-col gds-green">
        </ion-col>
        <ion-col>
          gds-green
        </ion-col>
        <ion-col>
          #006435
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>