color-palette {
  .color-col {
    min-height: 32px;
  }

  .gds-yellow {
    background-color: map-get($colors-gds, 'gds-yellow');
  }

  .gds-light-green {
    background-color: map-get($colors-gds, 'gds-light-green');
  }

  .gds-green {
    background-color: map-get($colors-gds, 'gds-green');
  }
}