<ion-card>
  <ion-card-header>
    <ion-card-title>Headings</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>This card contains the global heading styles which can be used across the app</p>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>H1 title</h1>
        </ion-col>
        <ion-col>
          <code>h1 html tag</code>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h2>H2 title</h2>
        </ion-col>
        <ion-col>
          <code>h2 html tag</code>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h3>H3 title</h3>
        </ion-col>
        <ion-col>
          <code>h3 html tag</code>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h4>H4 title</h4>
        </ion-col>
        <ion-col>
          <code>h4 html tag</code>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h5>H5 title</h5>
        </ion-col>
        <ion-col>
          <code>h5 html tag</code>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h5>H6 title</h5>
        </ion-col>
        <ion-col>
          <code>h6 html tag</code>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>