<div [ngClass]="{'journal-test-details-test-complete': testComplete}">
  <ion-grid>
    <ion-row align-items-center [ngClass]="testDetails ? 'journal-test-details-half-height-row' : 'journal-test-details-full-height-row'">
      <ion-col>
        <ion-icon name="pin"></ion-icon>
        <span>{{testCentreName}}</span>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="testDetails" class="journal-test-details-half-height-row" justify-content-between align-items-end>
      <div>
        <span class="journal-test-details-show-me-tell-me">S{{testDetails.showMe}} | T{{testDetails.tellMe}}</span>
      </div>
      <div>
        <span>Route {{testDetails.route}}</span>
      </div>
    </ion-row>
  </ion-grid>
</div>
