journal-test-details {
  ion-row {
    ion-icon {
      margin-right: 0.5em;
    }
    &:last-child {
      div {
        &:last-child {
          width: 50%;
          text-align: right;
        }
      }
    }
  }
  .journal-test-details-test-complete {
    color: #818080;
  }
}
