journal-test-details {
  ion-row {
    &:first-child {
      ion-col {
        display: flex;
        justify-content: center;
      }
    }
    &:last-child {
      div {
        &:last-child {
          width: 50%;
          text-align: right;
        }
      }
    }
  }
}
