<ion-card id="speed-requirements">
  <ion-card-header>
    <ion-card-title>
      <h1 class="fault-heading">Speed requirements</h1>
      <h4 class="fault-heading">sdbfghfg</h4>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row align-items-center class="mes-data">
        <ion-col col-32 no-padding></ion-col>
        <ion-col col-2 no-padding align-self-start>
          <div class="counter-icon">
            sdf
          </div>
        </ion-col>
        <ion-col col-3 no-padding></ion-col>
        <ion-col no-padding>
          <div class="counter-label">met</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
