fake-journal {
  display: flex;
  margin-top: 8px;
  margin-bottom: -2px;
  margin-left: 12px;

  // TODO find a better way to set the font size without defining it here
  ion-icon {
    font-size: 30px;
    color: map-get($colors-gds, gds-grey-1);
    padding-right: 8px;
  }
  h3 {
    font-size: 20px;
    line-height: 1.5em;
  }
  #date-container {
    text-align: center;
    white-space: nowrap;
  }
}
