legal-requirement {
  div.legal-button {
    // width: 118px;
    height: 44px;
    display: flex;
    margin-right: 3px;
    padding: 1px 7px 2px;
    align-items: center;
    
    background: map-get($colors, "mes-white");
    border: 1px solid rgba(11, 12, 12, 0.4);
    box-shadow: 0 1px 0 0 map-get($colors-gds, "gds-grey-1");
    border-radius: 10px;

    &.activated {
      background: #eee;
    }

    .label {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .competency-label {
      font-size: 15px;
      text-align: center;
      line-height: 25px;
      letter-spacing: -0.26px;
      font-weight: 500;
    }

    .tickwrapper {
      display: flex;
      justify-content: center;
    }

    &.complete {
      border: 2px solid map-get($colors-gds, "gds-green");
      color: map-get($colors-gds, "gds-green");
      
      .competency-label {
        font-weight: bold;
      }
    }
  }

  
}
