questions-modal {
  .counters {
    font-size: 16px;
    padding-top: 6px;
    display: block;
  }

  .checkmark-circle {
    text-align: center;
    font-size: 32px;
  }

  .hidden {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  .active {
    opacity: 1;
    height: auto;
  }
}
