serious-fault-badge {
  div {
    width: 22px;
    height: 22px;
    min-width: 22px;

    div {
      background: map-get($colors-gds, 'gds-yellow');
      color: #000000;
      border-radius: 13px;

      span {
        font-size: 15px;
        font-weight: bold;
        position: relative;
        top: -4px;
      }
    }
  }
}
