page-manoeuvres {
  ion-content {
    ion-select {
      max-width: initial;
      width: 100%;
      margin-right: 48px;
    }
  }

  .mes-primary-button {
    min-width: 150px;
  }

  .mes-full-width-card {
    height: 120px;

    #submit-manoeuvres-btn {
      width: 100%;
      height: 56px;
    }
  }

  .card-content-ios {
    padding: 0;
  }

  .grid {
    padding: 0;
  }

  ion-footer {
    ion-row.mes-full-width-card {
      padding: 24px 32px;
      background-color: map-get($colors, "mes-white");

      button {
        width: initial;
        min-height: 56px;
      }

      .full-width {
        width: 100%;
      }
    }
  }

  .decrease-spacing {
    margin-top: -20px;
  }
}
