<ion-navbar hideBackButton no-padding>
  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <img src="assets/imgs/dvsa-logo-white.png" width="36" height="32" alt="">
        <span class="heading-small">DVSA</span>
      </ion-col>
      <ion-col>
        <h3 text-center no-margin class="heading-medium">Driving Test</h3>
      </ion-col>
      <ion-col  padding-right>
        <!-- <button float-right no-margin ion-button icon-only color="black">
          <ion-icon name="menu"></ion-icon>
        </button> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-navbar>
