mes-header {
  color: #ffff;
  .toolbar {
    min-height: 44px;
  }
  .toolbar-background {
    background-color: map-get($colors, headerGrey);
  }
  .heading-small {
    position: absolute;
    top: 8px;
  }
  p {
    font-size: smaller;
  }
  button {
    background-color: map-get($colors, headerGrey);
  }
  span.button-inner {
    color: map-get($colors, backButton);
  }
  .mes-header-title-alignment-fix {
    margin-left: -2.5em;
  }
}
