<ion-card>
  <ion-card-header>
    <ion-card-title>Buttons</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>This card contains the styling of the global button types</p>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button>Simple button</button>
        </ion-col>
        <ion-col>
          <code>button html tag with ion-button attr on</code>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button class="mes-primary-button">Primary button</button>
        </ion-col>
        <ion-col>
          <code>primary button html tag with ion-button attr on</code>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button class="mes-secondary-button">Submit button</button>
        </ion-col>
        <ion-col>
          <code>secondary button html tag with ion-button attr on</code>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>