<ion-row class="mes-validated-row mes-row-separator" id="transmission-card" [formGroup]="formGroup">
    <div class="validation-bar" [class.ng-invalid]="invalid">
    </div>
    <ion-col class="component-label" col-32 align-self-center>
      <label>Transmission</label>
    </ion-col>
    <ion-col align-self-center>
      <ion-row class="spacing-row"></ion-row>
      <ion-row>
        <ion-col col-48>
          <input type="radio" id="transmission-manual" formControlName="transmission" name="transmission"
            class="gds-radio-button"
            [class.ng-invalid]="invalid"
            (change)="transmissionChanged($event.target.value)"
            value='Manual'
            [checked]="transmission === 'Manual'">            
          <label for="transmission-manual" class="radio-label">Manual</label>
        </ion-col>
        <ion-col col-48>
          <input type="radio" id="transmission-automatic" formControlName="transmission" name="transmission"
             class="gds-radio-button"
             [class.ng-invalid]="invalid"
             (change)="transmissionChanged($event.target.value)"
             value='Automatic'
             [checked]="transmission === 'Automatic'">
          <label for="transmission-automatic" class="radio-label">Automatic</label>
        </ion-col>
      </ion-row>
      <ion-row class="validation-message-row" align-items-center>
        <div class="validation-text" [class.ng-invalid]="invalid" id="waiting-room-to-car-transmission-validation-text">
          Select the transmission of the vehicle
        </div>
      </ion-row>
    </ion-col>
  </ion-row>
