<hr>
<ion-card class="practice-mode-card">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h4>Practice a test (cat B)</h4>
        <p>Practice marking the test report and using the debrief screens only.</p>
      </ion-col>
      <ion-col col-32 align-self-center>
        <button class="mes-secondary-button" ion-button float-right (click)="showDrivingFaultModal()">
          <h3 class="practice-test-label">Start a practice test</h3>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>