<ion-row class="mes-component-row mes-row-separator" id="date-of-test-row" align-items-center>
  <ion-col class="component-label" col-32>
    <label>Date of test</label>
  </ion-col>
  <ion-col padding-left>

    <span *ngIf="!editMode" 
      class="mes-data"
      (click)="enableEdit()">{{dateOfTest}}</span>
      <!-- (tap)="onTap()"
      (press)="onPress()">{{dateOfTest}}</span> -->

    <!-- <ion-datetime *ngIf="editMode"
      displayFormat="DD/MM/YYYY"
      min="minDate"
      max="maxDate"
      [(ngModel)]="customTestDate"
      (blur)="disableEdit()"></ion-datetime> -->
      
    <input *ngIf="editMode"
      #editDateInput
      type="text" id="date-of-test" class="mes-data"
      placeholder="DD/MM/YYYY"
      [value]="dateOfTest"
      (change)="dateOfTestChanged($event.target.value)"
      (blur)="disableEdit()">

  </ion-col>
</ion-row>