<ion-card class="search-card">
  <div id="card-content-wrapper">
    <ion-grid>
      <ion-row>
        <ion-icon name="search" id="search-icon"></ion-icon>
        <ion-col align-self-center>
          <h4 id="search-text">Find and rekey tests</h4>
        </ion-col>
        <ion-col col-36 align-self-center>
          <button class="mes-neutral-button" ion-button float-right (click)="navigateToRekeySearch()">
            <h3>Rekey tests</h3>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-card>
