page-debrief {
  #test-outcome-background {
    text-align: center;
    padding: 16px 0;
    background: map-get($colors, 'mes-white');
    height: 201px;
  }
  .test-outcome-container {
    height: 140px;
    margin: 16px;
    h4 {
      line-height: 60px;
    }
    h1 {
      line-height: 30px;
    }
  }
  .passed {
    border: 8px solid map-get($colors-gds, 'gds-turquoise');
  }
  .failed {
    border: 8px solid map-get($colors-gds, 'gds-red');
  }
}
