div[class^="debrief-cat-"] > * {
  #test-outcome-background {
    text-align: center;
    padding: 16px 0;
    background: map-get($colors, "mes-white");
    height: 201px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  }
  .test-outcome-container {
    height: 140px;
    margin: 16px;
    h4 {
      line-height: 60px;
    }
    h1 {
      line-height: 30px;
    }
  }
  .passed {
    border: 8px solid map-get($colors-gds, "gds-dark-green-3");
  }
  .failed {
    border: 8px solid map-get($colors-gds, "gds-red");
  }
  .terminated {
    border: 8px solid map-get($colors-gds, "gds-grey-1");
  }
  #end-debrief-background {
    text-align: center;
    padding: 16px 0;
    background: map-get($colors, "mes-white");
    height: 110px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  }
  #end-debrief-button {
    min-height: 56px;
    width: 746px;
    margin-top: 11px;
  }
  .counter-icon {
    width: 22px;
    height: 22px;
    min-width: 22px;
    padding: 2px 4px 4px;
    .text-zoom-large & {
      padding-top: 4px;
    }

    .text-zoom-x-large & {
      padding-top: 6px;
    }
  }
  .counter-label {
    padding-left: 4px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fault-heading {
    display:inline;
  }
}