<ion-header>
  <ion-navbar>
    <ion-title>Debrief</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">Logout</button>
    </ion-buttons>
  </ion-navbar>
  <div id="test-outcome-background" [ngSwitch]="outcome">
    <div class="test-outcome-container passed" *ngSwitchCase="'Pass'">
      <h4>Test outcome</h4>
      <h1>passed</h1>
    </div>
    <div class="test-outcome-container failed" *ngSwitchCase="'Fail'">
      <h4>Test outcome</h4>
      <h1>unsuccessful</h1>
    </div>
    <div class="test-outcome-container terminated" *ngSwitchCase="'Terminated'">
      <h4>Test outcome</h4>
      <h1>terminated</h1>
    </div>
  </div>
</ion-header>

<ion-content>

  <ion-card id="ETA" *ngIf="(pageState.etaFaults$ | async)">
    <ion-card-content>
      <ion-grid>
        <ion-row align-items-start class="mes-data">
          <ion-col col-3></ion-col>
          <ion-col col-34>
            <h4 class="fault-heading">ETA</h4>
          </ion-col>
          <ion-col align-self-start>
            <div id="etaFaults">{{pageState.etaFaults$ | async}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card id="dangerous-fault" *ngIf="(pageState.dangerousFaults$ | async).length > 0">
    <ion-card-header>
      <ion-card-title>
        <h1 class="fault-heading">{{(pageState.dangerousFaults$ | async).length}}</h1>
        <h4 class="fault-heading">Dangerous</h4>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row align-items-center *ngFor="let dangerousFault of (pageState.dangerousFaults$ | async)"
          class="mes-data">
          <ion-col col-32></ion-col>
          <ion-col col-2>
            <div class="counter-icon">
              <dangerous-fault-badge [showBadge]="true"></dangerous-fault-badge>
            </div>
          </ion-col>
          <ion-col col-3></ion-col>
          <ion-col>
            <div class="counter-label">{{dangerousFault}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card id="serious-fault" *ngIf="(pageState.seriousFaults$ | async).length > 0">
    <ion-card-header>
      <ion-card-title>
        <h1 class="fault-heading">{{(pageState.seriousFaults$ | async).length}}</h1>
        <h4 class="fault-heading">Serious</h4>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row align-items-center *ngFor="let seriousFault of (pageState.seriousFaults$ | async)" class="mes-data">
          <ion-col col-32></ion-col>
          <ion-col col-2>
            <div class="counter-icon">
              <serious-fault-badge [showBadge]="true"></serious-fault-badge>
            </div>
          </ion-col>
          <ion-col col-3></ion-col>
          <ion-col>
            <div class="counter-label">{{seriousFault}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card id="driving-fault" *ngIf="(pageState.drivingFaultCount$ | async) > 0">
    <ion-card-header>
      <ion-card-title>
        <h1 class="fault-heading">{{pageState.drivingFaultCount$ | async}}</h1>
        <h4 class="fault-heading">Driving Faults</h4>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row align-items-center *ngFor="let drivingFault of (pageState.drivingFaults$ | async)" class="mes-data">
          <ion-col col-32></ion-col>
          <ion-col col-2>
            <div class="counter-icon">
              <driving-faults-badge class="counter driving-faults" [count]="drivingFault.faultCount">
              </driving-faults-badge>
            </div>
          </ion-col>
          <ion-col col-3></ion-col>
          <ion-col>
            <div class="counter-label">{{drivingFault.competencyDisplayName}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card id="eco" *ngIf="(pageState.ecoFaults$ | async)">
    <ion-card-content>
      <ion-grid>
        <ion-row align-items-start class="mes-data">
          <ion-col col-3></ion-col>
          <ion-col col-34>
            <h4 class="fault-heading">ECO</h4>
          </ion-col>
          <ion-col align-self-start>
            <div id="ecoFaults">{{pageState.ecoFaults$ | async}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <div id="end-debrief-background">
    <button ion-button id="end-debrief-button" class="mes-primary-button" (click)="endDebrief()">
      <h3>End debrief</h3>
    </button>
  </div>
</ion-footer>