page-welcome {
  font-weight: bold;

  ion-content {
    background-image: url('/assets/imgs/welcome-page-background.png');
    @include background-size(cover);
  }
  ion-row {
    margin-top: 14px;
  }
  .logo {
    height: 87px;
  }
  .strapline {
    color: map-get($colors, white);
    font-size: 15px;
    letter-spacing: 0.46px;
  }
  .title {
    color: map-get($colors, white);
    font-size: 48px;
    line-height: 50px;
  }
  .text {
    color: map-get($colors, white);
    font-size: 36px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
  }
  .icon {
    width: 66px;
    height: 66px;
  }
  .video {
    width: 474px;
    height: 276px;
    background: map-get($colors, white);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin: auto;
    iframe {
      margin: 8px;
    }
  }
  .button-text {
    margin: 0 0 0 -125px;
  }

  .disclaimer {
    color: black;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.28px;
    line-height: 25px;
  }

  .link-button-hover-fix:hover {
    text-decoration: none;
    box-shadow: none;
    opacity: 1;
  }
}
