mes-signature-pad {
  .not-valid-header {
    height: 40px;
    .not-valid-text {
      color: #b12025;
    }
  }
  .mes-signature-pad {
    background-color: #f8f8f8;
    &.is-not-valid {
      canvas {
        border-color: #b12025 !important;
        box-shadow: inset 0 0px 0px 0 #a5a2a2;
      }
    }
  }
  .retry-button {
    .retry-icon {
      width: 20px;
      height: 20px;
      float: left;
      background-image: url("assets/retry.png");
      background-size: contain;
    }
  }
  signature-pad {
    canvas {
      background: transparent;
      border-radius: 4px 4px 4px 4px;
      border: 2px solid #222222;
      box-shadow: inset 0 3px 3px 0 #a5a2a2;
      height: 256px;
      width: 100%;
      position: relative;
      z-index: 10;
      margin-bottom: -6px;
    }
  }
  .sign-here-wrapper {
    position: relative;
    bottom: 115px;
    left: 40px;
    width: 486px;
    float: left;
    .image {
      display: flex;
      height: 42px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .text {
      align-self: center;
      padding-left: 9px;
    }
    .signature-line {
      border-top: 1px solid #979797;
      height: 2px;
      width: 312px;
      float: right;
      margin-right: 27px;
    }
  }

  .retry-button {
    display: flex;
    position: relative;
    bottom: 237px;
    width: 100px;
    float: right;
    right: 10px;
    z-index: 11;
    background-color: transparent;
    &:disabled {
      color: map-get($colors, darkerGrey);
      background-color: rgba(0, 0, 0, 0);
    }
    .retry-icon {
      align-self: center;
      background-repeat: no-repeat;
      padding-right: 29px;
      &:disabled {
        color: map-get($colors, darkerGrey);
        background-color: rgba(131, 131, 131, 0);
      }
    }
    .sign-here-text {
      align-self: center;
    }
  }
}
