manoeuvres-popover {

  .gds-radio-button {
    & + label {
      font-size:16px;
      font-weight:normal;
    }
    & + label:before {
      min-width: 36px;
      height: 36px;
      margin-right:15px;
    }
    &:checked + label {
      font-weight:600;
    }
    &:checked + label:before {
      background-color: black;
      box-shadow: inset 0 0 0 6px white;
    }
    &:disabled + label {
      color: map-get($colors-gds, "gds-grey-2");
    }
    &:disabled + label:before {
      border-color: map-get($colors-gds, "gds-grey-2");
    }
  }
  .man-popover-content {
    margin-left: 68px;
    border: 0 none map-get($colors, "mes-white");
    z-index: -1;
    position: absolute;
  }
  .manoeuvre-competencies-container {
    margin-top: 40px;
    .manoeuvre-competency-button {
      margin-bottom: 10px;
    }
  }


}
