eta {
  .mes-test-report-button {
    display: flex;
    justify-content: center;

    &.complete {
      background-color:	#F2E8E7;
      border:2px solid map-get($colors-gds, "gds-red");

      &.competency-label {
        font-weight: bold;
      }
    }
  }

  .physical-eta-button {
    width: 118px;
    padding: 0;
  }

  .verbal-eta-button {
    width: 126px;
  }
}
