eta {
  div.eta-button {
    @extend .mes-test-report-button;

    margin-right: 3px;
    padding: 1px 7px 2px;

    &.complete {
      background-color:	#F2E8E7;
      border:2px solid map-get($colors-gds, "gds-red");
      &.competency-label {
        font-weight: bold;
      }
    }

    .label {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
  }
}
