<ion-card class="activity-slot">
  <ion-row class="slot-row" align-items-center nowrap>
    <ion-col class="time-column">
      <div>
        <time
          [time]="slot.slotDetail.start"
          [testComplete]="false"
        >
        </time>
      </div>
    </ion-col>
    <ion-col class="title-column" col-auto>
      <h5 class="title">{{getTitle()}}</h5>
    </ion-col>
    <ion-col class="activity-code-column">
      <h5 class="activity-code">{{formatActivityCode(slot.activityCode)}}</h5>
    </ion-col>
  </ion-row>
</ion-card>
