activity-slot {
  ion-card.activity-slot {
    height: 60px;
    background: map-get($colors, nonTestActivitySlotBackground);
    border: 1px solid #28a096;
    box-shadow: 0 1px 2px 0 #dddbde;
  }
  .time-column div {
    margin-left: 1.7em;
  }
  .title-column {
    display: flex;
    justify-content: center;
    .title {
      font-weight: bold;
    }
  }
  .activity-code-column {
    display: flex;
    justify-content: flex-end;
    .activity-code {
      font-weight: bold;
      margin-right: 1.8em;
    }
  }
}
