<ion-card>
  <ion-card-header>
    <ion-card-title>Data rows</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>This card contains the styling for different data rows</p>
    <ion-grid>
      <ion-row class="mes-data-row-with-separator">
        <ion-col>
          <label>This is a label html element</label>
        </ion-col>
        <ion-col>
          <span class="mes-data">This in a span dressed with mes-data class</span>
        </ion-col>
      </ion-row>
      <ion-row class="mes-data-row-with-separator">
        <ion-col>
          <label>This a simple data row</label>
        </ion-col>
        <ion-col>
          <span class="mes-data">With the separator line</span>
        </ion-col>
      </ion-row>
      <ion-row class="mes-data-row">
        <ion-col>
          <label>This a simple data row</label>
        </ion-col>
        <ion-col>
          <span class="mes-data">Without the separator line</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>