<ion-card>
  <ion-row>
    <ion-col col-23></ion-col>
    <ion-col col-50 class="center-icon">
      <ion-icon class="terminate-icon" ios="ios-alert"></ion-icon>
    </ion-col>
    <ion-col col-23></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-23></ion-col>
    <ion-col col-50 class="terminate-test-text"><span class="terminate-test-text">You're about to terminate the
        test</span></ion-col>
    <ion-col col-23></ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="column-border-top column-border-right center-button"><button ion-button
        class="terminate-button">Terminate
        test</button></ion-col>
    <ion-col class="column-border-top center-button"><button ion-button class="return-button">Return to test</button>
    </ion-col>
  </ion-row>
</ion-card>
