warning-banner {
  div {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 28px;
    background: map-get($colors, mes-light-yellow);
    height: 80px;
    border-left: 10px solid map-get($colors-gds, gds-yellow);
    span {
      margin-left: 8px;
      font-size: 40px;
      font-weight: normal;
      height: 28px;
      letter-spacing: 0.39px;
      width: 333px;
    }
    img {
      padding-right: 10px;
      height: 30px;
      vertical-align: middle;
    }
    animation-name: expand;
    animation-duration: 0.1s;
  }
}

@keyframes expand {
  from {
    margin-top: -70px;
  }

  to {
    margin-top: 0px;
  }
}
