<ion-row class="mes-validated-row mes-row-separator" id="show-me-questions-card" nowrap
         [formGroup]="formGroup">
    <div class="validation-bar" [class.ng-invalid]="invalid"></div>
    <ion-col class="component-label" col-32 align-self-center>
        <label>Show me question {{questionNumber}}</label>
    </ion-col>
    <ion-col col-63 align-self-center padding-left>
        <ion-row class="spacing-row"></ion-row>
        <ion-row>
            <ion-select id="shoe-me-question-selector"
                        okText="Submit"
                        cancelText="Cancel"
                        placeholder="Select show me questions"
                        [formControlName]="fieldName"
                        [class.ng-invalid]="invalid"
                        (ionChange)="showMeQuestionsChanged($event)"
                        [selectOptions]="{cssClass:'mes-select', enableBackdropDismiss:false}">
                <ion-option *ngFor="let showMeQuestion of questions"
                            [disabled]="isOptionDisabled(showMeQuestion)"
                            [value]="showMeQuestion">
                    {{showMeQuestion.code}} - {{showMeQuestion.shortName}}
                </ion-option>
            </ion-select>
        </ion-row>
        <ion-row class="validation-message-row" align-items-center>
            <div class="validation-text" [class.ng-invalid]="invalid" id="office-showmequestions-validation-text">
                Select show me questions
            </div>
        </ion-row>
    </ion-col>
</ion-row>
