all-on-one-form-vc-button {
  .expanded-section .fault-badge {
    font-size: 12px;
    background-color: map-get($colors, dark);
    padding: 6px;
    border-radius: 12px;
    color: map-get($colors, light);
    &.serious {
      position: relative;
      right: 10px;
      @extend .fault-badge_serious;
    }
    &.dangerous {
      position: relative;
      right: 10px;
      @extend .fault-badge_dangerous;
    }
  }
}
