practice-mode-banner {
  .practice-mode-row {
    height: 24px;
    padding: 0;
  }
  .practice-mode-top-banner {
    height: 24px;
    background: map-get($colors, secondary-button);
    border-radius: 0;
  }
  .exit-text {
    position: absolute;
    padding-left: 8px;
    color: map-get($colors-gds, 'gds-black');
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.24px;
  }
  .title {
    width: 100%;
    position: absolute;
    text-align: center;
    color: map-get($colors-gds, 'gds-black');
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.24px;
    text-align: center;
  }
  ion-icon {
    transform: rotate(180deg)
  }
}
