page-candidate-details {
  .exclamation-indicator {
    width: 26px;
    height: 26px;
    float: right;
  }
  .test-start-time {
    float: right;
  }
  .previous-cancellation-title {
    margin-top: 8px;
  }
  .card-content-ios{
    padding: 0;
  }
  .grid{
    padding: 0;
  }
  .mes-data-row{
    padding: 22px 13px;
  }
  h2{
    padding: 0 28px;
  }
  h2{
    padding: 0 28px;
  }
  h2{
    padding: 0 28px;
  }
  
}
