<ion-header>
  <ion-navbar>
      <ion-buttons ion-buttons start navPop>
          <button ion-button center class="nav-close-text">Close <img class="close-cross" src="assets/imgs/journal/closebt2x.png"/></button>
      </ion-buttons>
    <ion-title>
      Test details - {{ pageState.name$ | async }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>
    {{ pageState.name$ | async }}
    <span class="test-start-time">
      {{ pageState.time$ | async | date: "HH:mm" }}
    </span>
  </h2>

  <ion-card>
    <ion-card-header>
      <h4>Candidate details</h4>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="mes-data-row-with-separator">
          <ion-col col-40>
            <label>Test category</label>
          </ion-col>
          <ion-col col-56>
            <span class="mes-data">{{(pageState.details$ | async).testCategory}}</span>
          </ion-col>
        </ion-row>
        <ion-row class="mes-data-row-with-separator">
          <ion-col col-40>
            <label>Slot type</label>
          </ion-col>
          <ion-col col-56>
            <span class="mes-data">{{ (pageState.details$ | async).slotType }}</span>
          </ion-col>
        </ion-row>
        <ion-row class="mes-data-row-with-separator">
          <ion-col col-40>
            <label>Driver number</label>
          </ion-col>
          <ion-col col-56>
            <span class="mes-data">{{ (pageState.details$ | async).driverNumber }}</span>
          </ion-col>
        </ion-row>
        <ion-row class="mes-data-row-with-separator">
          <ion-col col-40>
            <label>Application number</label>
          </ion-col>
          <ion-col col-56>
            <span class="mes-data">{{ (pageState.details$ | async).applicationRef }}</span>
          </ion-col>
        </ion-row>
        <ion-row class="mes-data-row-with-separator">
          <ion-col col-40>
            <label>Special requirements</label>
            <img
              alt="Exclamation Indicator"
              src="assets/imgs/journal/exclamation-indicator.png"
              class="exclamation-indicator"
              *ngIf="specialNeedsIsPopulated((pageState.details$ | async).specialNeeds)"
            />
          </ion-col>
          <ion-col col-56>
            <div class="mes-data" *ngIf="!specialNeedsIsPopulated((pageState.details$ | async).specialNeeds)">
              {{(pageState.details$ | async).specialNeeds}}
            </div>
            <div *ngIf="specialNeedsIsPopulated((pageState.details$ | async).specialNeeds)">
              <div *ngFor="let specialNeed of (pageState.details$ | async).specialNeeds" class="mes-data">- {{specialNeed}}</div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="(pageState.details$ | async).entitlementCheck.show" class="mes-data-row-with-separator">
          <ion-col col-40>
            <label>Entitlement check</label>
            <img
              alt="Exclamation Indicator"
              src="assets/imgs/journal/exclamation-indicator.png"
              class="exclamation-indicator"
            />
          </ion-col>
          <ion-col col-56>
            <div class="mes-data">Entitlement check is required.</div>
          </ion-col>
        </ion-row>
        <ion-row class="mes-data-row">
            <ion-col col-40>
              <label>Additional information</label>
            </ion-col>
            <ion-col col-56>
              <div class="mes-data" *ngIf="(pageState.details$ | async).candidateComments.isSectionEmpty">
                None
              </div>
              <div *ngIf="!(pageState.details$ | async).candidateComments.isSectionEmpty">
                <div *ngIf="(pageState.details$ | async).candidateComments.previousCancellations?.length > 0">
                  <div class="mes-data">Previous cancellations</div>
                  <div *ngFor="let previousCancellation of (pageState.details$ | async).candidateComments.previousCancellations" class="mes-data">
                    - {{previousCancellation}}
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <h4>Contact details</h4>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="mes-data-row-with-separator">
          <ion-col col-40>
            <label>Phone number</label>
          </ion-col>
          <ion-col col-56>
            <span class="mes-data">{{ (pageState.details$ | async).phoneNumber }}</span>
          </ion-col>
        </ion-row>
        <ion-row class="mes-data-row-with-separator">
          <ion-col col-40>
            <label>Email</label>
          </ion-col>
          <ion-col col-56>
            <span class="mes-data">{{ (pageState.details$ | async).email }}</span>
          </ion-col>
        </ion-row>
        <ion-row class="mes-data-row">
          <ion-col col-40>
            <label>Address</label>
          </ion-col>
          <ion-col col-56>
            <div class="mes-data">{{ (pageState.details$ | async).address.street }}</div>
            <div class="mes-data">{{ (pageState.details$ | async).address.city }}</div>
            <div class="mes-data">{{ (pageState.details$ | async).address.postcode }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
