<ion-card class="practice-mode-card">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h4>Practice marking a full test (cat B)</h4>
        <p> Practice marking the entire test from waiting room to the test report, using the debrief and completing a test write-up.</p>
      </ion-col>
      <ion-col col-30 align-self-center>
        <button class="mes-secondary-button" ion-button float-right>
          <h3 class="practice-test-label">Start a practice test<br/> end to end </h3>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
