legal-requirements-modal {
  padding: 0 50px;

  ion-card.modal-alert {
    border-radius: 14px;
  }

  .center-icon {
    text-align: center;
  }

  .terminate-icon {
    padding: 20px 0px 10px;
    font-size: 96px;
  }

  .modal-alert-header {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.27px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 25px;
  }

  .modal-alert-message {
    font-size: 20px;
    letter-spacing: 0.27px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 25px;
  }

  .terminate-button {
    width: 100%;
    font-size: 20px;
    background: transparent;
    color: map-get($colors-gds, gds-red);
    &:active {
      background: inherit;
    }
  }

  .return-button {
    width: 100%;
    font-size: 20px;
    background: transparent;
    color: black;
    &:active {
      background: inherit;
    }
  }

  .column-border-top {
    border-top: 1px solid lightgrey;
    padding-top: 2px;
  }

  .column-border-right {
    border-right: 1px solid lightgrey;
    padding-top: 2px;
  }

}
