.round-badge {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 11px;
  padding: 6px;
  position: absolute;
  top: 13px;
}

.fault-badge_counter {
  @extend .round-badge;
  background-color: map-get($colors, gds-blue);
  color: map-get($colors, white);
}

.fault-badge_serious {
  @extend .round-badge;
  left: 200px;
  background-color: map-get($colors, warn);
  color: map-get($colors, white);
}

.fault-badge_dangerous {
  @extend .round-badge;
  left: 225px;
  background-color: map-get($colors, danger);
  color: map-get($colors, white);
}

.check-btn_completed {
  content: '✔\fe0e'; // \fe0e is to tell safari to render the content as outline. This makes it pick the color: up correctly
  display: block;
  position: absolute;
  @extend .round-badge;
  width: 12px;
  height: 12px;
  background-color: map-get($colors, gds-blue);
  color: map-get($colors, white);
}
