.round-badge {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.fault-badge_counter {
  @extend .round-badge;
  background-color: map-get($colors, gds-blue);
  color: map-get($colors, white);
}

.fault-badge_serious {
  @extend .round-badge;
  background-color: map-get($colors, warn);
  color: map-get($colors, white);
}

.fault-badge_dangerous {
  @extend .round-badge;
  background-color: map-get($colors, danger);
  color: map-get($colors, white);
}

.check-btn_completed {
  content: '✔\fe0e'; // \fe0e is to tell safari to render the content as outline. This makes it pick the color: up correctly
  display: block;
  position: absolute;
  @extend .round-badge;
  width: 25px;
  height: 25px;
  background-color: map-get($colors, gds-blue);
  color: map-get($colors, white);
}
