.mes-box-grey {
    border-radius: 23px;
    background-color: map-get($colors, mesBoxGrey);
    padding: 20px;
    ion-icon[name='alert'] {
      font-size: 2em;
    }
  }
  
  @mixin box-shadow($top, $left, $blur, $color) {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }