
.mes-primary-button {
  @extend .bold-family;
  // width: 792px;
  // height: 104px;

  color: #FFFFFF;
  font-size: 30px;
  // font-family: SFProDisplay-Bold;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0;

  display: block;
  width: 100%;
  
  padding: 35px 0;
  background: #00823B;
  box-shadow: inset 0 -2px 0 0 #006435;
  border-radius: 10px 10px 10px 10px;
}