$mes-test-form-button-height: 45px;

.mes-cta-button {
  border-radius: 10px;
  height: 48px;
  min-width: 170px;
  color: map-get($colors, white);
  font-weight: bold;
  font-size: 17px;
  padding: 12px;
  box-shadow: 0 2px 0 0 #6f777b;
}

.mes-button-primary {
  @extend .mes-cta-button;
  background-color: map-get($colors, gds-green);
  &:active {
    background-color: lighten(map-get($colors, mesPrimary), 5);
  }
}

.mes-button-secondary {
  @extend .mes-cta-button;
  background-color: map-get($colors, secondaryButton);
}

.mes-button-signature-pad {
  border-radius: 10px;
  width: 128px;
  height: 48px;
  background-color: #efefee;
  color: map-get($colors, black);
  font-weight: bold;
  font-size: 17px;
  padding: 12px;
  &:disabled {
    color: map-get($colors, darkerGrey);
    background-color: rgba(0, 0, 0, 0);
  }
}

.mes-bottom-card {
  margin-top: 0;
  .mes-button-primary {
    padding: 30px 80px;
    margin: 30px 0;
  }
}

.mes-button-neutral {
  border: solid 1px map-get($colors, light);
  height: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 15px;
  background: map-get($colors, white);
}

.mes-button-danger {
  border-radius: 22px;
  min-width: 105px;
  background-color: map-get($colors, danger);
  padding: 15px 40px;
  color: map-get($colors, white);
  font-weight: bold;
  font-size: 17px;
  &:active {
    background-color: lighten(map-get($colors, danger), 5);
  }
}
