.mes-divider {
  &.mes-one-third-divider {
    border-top: 1px solid map-get($colors, divider);
    width: 33%;
    margin: 10px 0;
  }
  border-top: 1px solid map-get($colors, divider);
  margin: 20px 0;
}

.mes-bottom-border {
  border-bottom: 1px solid map-get($colors, divider);
}
