.mes-main-content {
  background: map-get($colors, pageBg);
}

.phase-banner {
  @include phase-banner();
}

@mixin background-size($value) {
  -webkit-background-size: $value;
  -moz-background-size: $value;
  -o-background-size: $value;
  background-size: $value;
}
