.gds-radio-button {
  position: absolute;
  opacity: 0;

  & + label {
    display: flex;
    align-items: center;
  }

  & + label:before {
    content: '';
    border: 2px solid black;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    margin-right: 0.6em;
  }
  &:checked + label:before {
    background-color: black;
    box-shadow: inset 0 0 0 9px white;
  }
}