.padding-top-18 {
  padding-top: 18px;
}

.padding-top-21 {
  padding-top: 21px;
}

.padding-top-22 {
  padding-top: 22px;
}

.only-top-padding {
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
}
