.test-form-label {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.8px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: $test-form-label-colour;
}

.test-form-label-bold {
  @extend .test-form-label;
  letter-spacing: 0.4px;
  font-weight: 600;
}

//downwards from here are the original alpha items

.mes-text-sm {
  font-size: 17px;
  font-weight: normal;
}

.mes-text-md {
  font-size: 20px;
  font-weight: normal;
}

.mes-header-lg {
  font-size: 24px;
  font-weight: bold;
}

.mes-header-md {
  font-size: 20px;
  font-weight: bold;
}

.mes-bold {
  font-weight: bold;
}

.mes-header-sm {
  font-size: 16px;
  font-weight: bold;
}

.center-text {
  text-align: center;
}

.bold-medium {
  @include bold-24();
}

.capital-characters {
  text-transform: uppercase;
}

.text-align-right {
  text-align: right;
}
