<div>
  <ion-row align-items-center>
    <ion-col col-4>
      <div>
        <span class="journal-header-day-navigation">◄ Previous day</span>
      </div>
    </ion-col>
    <ion-col col-4>
      <div>
        <span class="journal-header-today-title">Today</span>
      </div>
    </ion-col>
    <ion-col col-4>
      <div>
        <span class="journal-header-day-navigation">Next day ►</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
    </ion-col>
    <ion-col col-4>
      <div>
        <span class="mes-header-lg">{{getDate()}}</span>
      </div>
    </ion-col>
    <ion-col col-4>
      <div>
        <span class="mes-text-md">Last sync: {{getLastSyncTime()}}</span>
      </div>
    </ion-col>
  </ion-row>
</div>