<!-- Generated template for the JournalHeaderComponent component -->
<div>
  <ion-row>
    <ion-col class="yesterday" col-4>
      <div>
        <span>Previous</span>
        <span>22 March</span>
      </div>
    </ion-col>
    <ion-col class="today" col-4>
      <div>
        <span>Today</span>
        <span>23 March</span>
      </div>
    </ion-col>
    <ion-col class="tomorrow" col-4>
      <div float-right>
        <span>Tomorrow</span>
        <span>24 March</span>
      </div>
    </ion-col>
  </ion-row>
</div>