journal-header {
  span.journal-header-day-navigation {
    @extend .mes-header-sm;
    text-decoration: underline;
  }
  span.journal-header-today-title {
    font-size: 48px;
    font-weight: bold;
  }
  ion-row {
    ion-col {
      div {
        height: 100%;
      }
      &:last-of-type {
        div {
          float: right;
        }
      }
      &:nth-child(2) {
        div {
          text-align: center;
        }
      }
    }
  }
}
