post-test-summary-section {
  .fault-number {
    font-size: 48px;
    color: black;
  }
  .fault-note-container {
    margin-top: 20px;
  }

  .validation-error {
    color: map-get($colors, gds-red);
  }
  .validation-error-icon {
    padding-left: 9px;
    color: map-get($colors, gds-red);
    font-size: 24px;
  }
}
