back-to-office-cat-be-page {

  div {
    background-color: map-get($colors-gds, gds-dark-green-2);
  }
  .container{
    display: flex;
    justify-content: center;
  }
  #dvsa-logo {
    width: 50%;
    height: 50%;
    margin-top: 209px;
    margin-left: -143px;
  }
  .office-button {
    width: 488px;
    height: 56px;
    color: inherit;
    font-size: 24px;
    font-weight: 600;
  }
  .top-button {
    margin-top: 160px;
  }
  .bottom-button {
    margin-top: 64px;
  }


}
