<div class="not-valid-header">
    <span class="mes-header-md" *ngIf="isvalid === false && notValidHeaderText && required">
        <label id="not-valid-header-label" class="not-valid-text">{{notValidHeaderText}}</label>
    </span>
</div>
<div class="mes-signature-pad" (blur)="checkAndSetValidation()" [class.is-not-valid]="isvalid === false  && required">
    <signature-pad (onEndEvent)="drawComplete()"></signature-pad>
    <button (click)="clear()" class="retry-button" [disabled]="isvalid === false ">
        <div id="retry-icon" class="retry-icon" [ngStyle]="{'background-image':'url(' + retryImage + ')'}"></div>
        <label id="retry-button-label" class="sign-here-text">{{retryButtonText? retryButtonText : "Retry"}}</label>
    </button>
    <div class="sign-here-wrapper">
        <div id="sign-here-image" class="image" [ngStyle]="{'background-image':'url(' + signHereImage + ')'}">
            <label id="sign-here-label" class="text">{{signHereText? signHereText : "Sign here"}}</label>
        </div>
        <div class="signature-line"></div>
    </div>
</div>