mes-signature-pad {
  button.mes-signature-pad-retry-button {
    font-weight: bold;
    font-size: 17px;
    border-radius: 10px;
    float: right;
    position: relative;
    top: 3.5em;
    right: 1em;
    background-color: #efefee;
    color: map-get($colors, black);
    padding: 0.75em 1.5em;
    &:disabled {
      color: map-get($colors, darkerGrey);
      background-color: rgba(0, 0, 0, 0);
    }
  }
  signature-pad {
    canvas {
      display: block;
      border: thick solid map-get($colors, divider);
      width: 100%;
    }
  }
}
