<ion-grid class="vehicle-details-grid">
  <ion-row>
    <ion-col col-auto *ngIf="showDimensions">
      <span><p>Length: </p></span><span class="bold"><p>{{ length }}</p></span>
    </ion-col>
    <ion-col col-auto *ngIf="showDimensions">
      <span><p>Width: </p></span><span class="bold"><p>{{ width }}</p></span>
    </ion-col>
    <ion-col col-auto *ngIf="showDimensions">
      <span><p>Height: </p></span><span class="bold"><p>{{ height }}</p></span>
    </ion-col>
    <ion-col col-auto *ngIf="showNumberOfSeats">
      <span><p>Seats: </p></span><span class="bold"><p>{{ seats }}</p></span>
    </ion-col>
  </ion-row>
</ion-grid>
