<!-- <ion-grid class="vehicle-details-grid">
  <ion-row>
    <ion-col col-auto *ngIf="showDimensions">
      <p><span>Length: </span><span class="bold">{{ length }}</span></p>
    </ion-col>
    <ion-col col-auto *ngIf="showDimensions">
      <p><span>Width: </span><span class="bold">{{ width }}</span></p>
    </ion-col>
    <ion-col col-auto *ngIf="showDimensions">
      <p><span>Height: </span><span class="bold">{{ height }}</span></p>
    </ion-col>
    <ion-col col-auto *ngIf="showNumberOfSeats">
      <p><span>Seats: </span><span class="bold">{{ seats }}</span></p>
    </ion-col>
  </ion-row>
</ion-grid> -->
<div *ngIf="showDimensions">
  <p><span>Length: </span><span class="bold">{{ length }}</span> …</p>
</div>