candidate-highlights {
    & > div {
      height: 100%;
      padding: 0.3em 0.75em;
      background-color: map-get($colors-gds, gds-grey-4);
      border-radius: 13px;
      @include box-shadow(0px, 2px, 4px, rgba(0, 0, 0, 0.55));

      .candidate-grid-row {
        min-height: 58px;
        display: flex;
        align-items: center;
      }

      .candidate-name {
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .welsh-language-indicator {
        opacity: 0.5;
        height: 20px;
        width: 30px;
      }
    }
  }
