page-declaration-consent {
  ion-icon {
    vertical-align: middle;
    display: inline;
  }
  ion-card-header.mes-main-card-header {
    margin-bottom: 1em;
  }
  .mes-waiting-room-name {
    font-size: 44px;
    padding-bottom: 1em;
  }
  .mes-waiting-room-driver-number {
    font-size: 24px;
    padding-bottom: 1em;
  }
  button.mes-waiting-room-continue {
    float: right;
  }
  div.mes-waiting-room-ctas {
    margin: 2em 0.8em 0em 0.8em;
  }
  ion-content {
    div.scroll-content {
      padding-top: 0px !important;
      ion-card.mes-card {
        margin-top: 0px;
      }
    }
  }
}
