page-declaration-consent {
  ion-icon {
    vertical-align: middle;
    display: inline;
  }
  .mes-declaration-title-name {
    font-size: 30px;
  }
  .mes-candidate-img {
    font-size: 9.2em;
  }
}
