<ion-header>
  <ion-navbar>
    <ion-title>{{ 'debrief.title' | translate }} - {{pageState.candidateName$ | async}}</ion-title>
  </ion-navbar>
  <test-outcome-debrief-card [outcome]="outcome"></test-outcome-debrief-card>
</ion-header>
<ion-content>
  <speed-check-debrief-card
    [emergencyStop]="pageState.emergencyStop$ | async"
    [avoidance]="pageState.avoidance$ | async"
    [avoidanceAttempted]="pageState.avoidanceAttempted$ | async"></speed-check-debrief-card>
  <eta-debrief-card [hasPhysicalEta]="hasPhysicalEta" [hasVerbalEta]="hasVerbalEta"></eta-debrief-card>
  <dangerous-faults-debrief-card [dangerousFaults]="pageState.dangerousFaults$ | async"
                                 [testCategory]="pageState.testCategory$ | async">
  </dangerous-faults-debrief-card>
  <serious-faults-debrief-card [seriousFaults]="pageState.seriousFaults$ | async"
                               [testCategory]="pageState.testCategory$ | async">
  </serious-faults-debrief-card>
  <driving-faults-debrief-card [drivingFaults]="pageState.drivingFaults$ | async"
                               [drivingFaultCount]="pageState.drivingFaultCount$ | async"
                               [testCategory]="pageState.testCategory$ | async">
  </driving-faults-debrief-card>
</ion-content>
<ion-footer>
  <div id="end-debrief-background">
    <button ion-button id="end-debrief-button" class="mes-primary-button" (click)="endDebrief()">
      <h3>{{ 'debrief.end' | translate }}</h3>
    </button>
  </div>
</ion-footer>
