<ion-header>
    <mes-header [title]='getTitle()' [helpPage]="helpPage"></mes-header>  
</ion-header>

<ion-content padding class="mes-main-content">
    <div class="mes-header-xlg mes-view-candidate-header-padding-fix">
        <ion-row>
            <ion-col col-9 text-left>
                {{getCandidateName()}}
            </ion-col>
            <ion-col col-3 text-right>
                {{slotDetail.startTime}}
            </ion-col>
        </ion-row>
    </div>
    <ion-card class="mes-card">
        <ion-card-header class="mes-header-lg">
            Candidate information 
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col col-4 class="mes-bold">
                    Test category
                </ion-col>
                <ion-col col-8>
                    Category B
                </ion-col>
            </ion-row>
            <div class="mes-divider"></div>
            <ion-row>
                <ion-col col-4>
                    Slot
                </ion-col>
                <ion-col col-8>
                    {{getSlotType()}}
                </ion-col>
            </ion-row>
            <div class="mes-divider"></div>
            <ion-row>
                <ion-col col-4>
                    Driving number
                </ion-col>
                <ion-col col-8>
                    {{slotDetail.driverNumber}}
                </ion-col>
            </ion-row>
            <div class="mes-divider"></div>
            <ion-row>
                <ion-col col-4>
                    Application Ref.
                </ion-col>
                <ion-col col-8>
                    {{slotDetail.appId}}
                </ion-col>
            </ion-row>
            <div class="mes-divider"></div>
            <ion-row>
                <ion-col col-4>
                    Candidate comments
                </ion-col>
                <ion-col col-8>
                    <span>
                        <img src="assets/imgs/warning.png" class="warning-icon" *ngIf="showSlotWarning()" />
                        {{getCandidateComments()}}
                    </span>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-card class="mes-card">
        <ion-card-header class="mes-header-lg">
            Contact details
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col col-4>
                    Phone number
                </ion-col>
                <ion-col col-8>
                    {{slotDetail.mobileTelephone}}
                </ion-col>
            </ion-row>
            <div class="mes-divider"></div>
            <ion-row>
                <ion-col col-4>
                    Email
                </ion-col>
                <ion-col col-8>
                    {{slotDetail.email}}
                </ion-col>
            </ion-row>
            <div class="mes-divider"></div>
            <ion-row>
                <ion-col col-4>
                    Address
                </ion-col>
                <ion-col col-8>
                    <div  [innerHTML]="getCandidateAddress()"></div>
                </ion-col>
            </ion-row>
        </ion-card-content>

    </ion-card>

    <div class="confirm-identity-box" *ngIf="signature">
        <div class="inner" (click)="confirmIdentity()">
            <ion-checkbox></ion-checkbox>
            <button class="mes-button-primary">Confirm Candidates Identity</button>
        </div>
    </div>

    <div class="mes-view-candidate-header-padding-fix">
        <button class="mes-cta-button-secondary">
                Request swap
        </button>
    </div>

</ion-content>
