page-test-results-search {
  .component-label {
    padding-top: 12px;
  }

  .candidate-info-input {
    margin-top: 34px;
    width: 100%;
  }

  .search-tests {
    margin-top: 20px;
    height: 56px;
    width: 100%;
  }

  .search-tests-text {
    font-size: 23px;
  }

  .clear-input {
    cursor: pointer;
    margin: auto -34px;
  }

  p.results-message {
    margin: 0;
    font-size: 24px;
    letter-spacing: 0px;
    font-weight: 900;
    line-height: 60px;
  }

  .results-error {
    margin-top: 16px;
    p.error-text {
      margin: 0;
      font-size: 24px;
      letter-spacing: 0px;
      font-weight: normal;
      text-align: center;
      line-height: 36px;
    }
  }
  .search-spinner {
    margin-top: 32px;
    margin-left: 700px;
    position: absolute;
  }
}
