test-results-search-card {
  .search-card {
    h1, h4 {
      color: map-get($colors, mes-white);
    }
    .mes-neutral-button {
      h3 {
        color: map-get($colors-gds, gds-dark-green);
      }
      &.activated {
        background:  map-get($colors-gds, gds-grey-4);
      }
    }
    #card-content-wrapper {
      padding: 8px 12px;
      background: map-get($colors-gds, gds-dark-green);
    }
    #search-icon {
      color: map-get($colors, mes-white);
      margin: 10px 12px 0px 2px;
      font-size: 42px;
      font-weight: 900;
    }
  }
}
