<ion-grid>
  <ion-row>
    <div class="validation-bar" [class.ng-invalid]="invalid">
    </div>
    <ion-col class="component-label" align-self-center col-1 [ngSwitch]="faultType">
      <dangerous-fault-badge [showBadge]="true" *ngSwitchCase="'dangerous'"></dangerous-fault-badge>
      <serious-fault-badge [showBadge]="true" *ngSwitchCase="'serious'"></serious-fault-badge>
      <driving-faults-badge [count]="faultComment.faultCount" *ngSwitchCase="'driving'"></driving-faults-badge>
    </ion-col>
    <ion-col class="component-label" col-29 align-self-center>
      <label class="fault-label">{{faultComment.competencyDisplayName}}</label>
    </ion-col>
    <ion-col>
      <ion-row class="spacing-row"></ion-row>
      <ion-row>
        <div [formGroup]="parentForm">
          <textarea row="5" class="mes-data" [formControlName]="formControlName" [class.ng-invalid]="invalid"
            maxlength="1000"
            [value]="faultComment.comment" (change)="faultCommentChanged($event.target.value)">
          </textarea>
        </div>
      </ion-row>
      <ion-row class="validation-message-row" align-items-center>
        <div class="validation-text" [class.ng-invalid]="invalid">
          Provide a comment
        </div>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>