<<<<<<< HEAD:src/pages/post-debrief-holding/post-debrief-holding.scss
post-debrief-holding {
=======
back-to-office-cat-b-page {

>>>>>>> MES-607: Refactor of back to office module for category separation (#823):src/pages/back-to-office/cat-b/back-to-office.cat-b.page.scss
  div {
    background-color: map-get($colors-gds, gds-dark-green-2);
  }
  .container{
    display: flex;
    justify-content: center;
  }
  #dvsa-logo {
    width: 50%;
    height: 50%;
    margin-top: 209px;
    margin-left: -143px;
  }
  .office-button {
    width: 488px;
    height: 56px;
    color: inherit;
    font-size: 24px;
    font-weight: 600;
  }
  .top-button {
    margin-top: 160px;
  }
  .bottom-button {
    margin-top: 64px;
  }
<<<<<<< HEAD:src/pages/post-debrief-holding/post-debrief-holding.scss
=======


>>>>>>> MES-607: Refactor of back to office module for category separation (#823):src/pages/back-to-office/cat-b/back-to-office.cat-b.page.scss
}
