page-initiate-driving-period {
    .mes-placeholder-text {
        margin-top: 30% !important;
        font-size: 66px;
    }
    .mes-footer-position {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}
